@model VBSPOSS.ViewModels.InterestRateConfigMasterViewModel
@using Kendo.Mvc.UI
@using VBSPOSS.Constants
@using VBSPOSS.Data.Models
@using VBSPOSS.ViewModels

@{
    Layout = null; // Giữ là partial view
}


<link rel="stylesheet" href="@Url.Content("~/css/kendo_cust_style.css")" />
<link rel="stylesheet" href="@Url.Content("~/css/my_cust_style.css")" />

<style>
    .view_form.row {
        width: 100% !important;
        margin-left: 0;
        margin-right: 0;
    }

    .view_form.button {
        /* width: 100px !important; */
        height: 25px !important;
        margin-left: 5px;
        margin-right: 5px;
    }

    .section-header {
        /*  padding: 10px 0;
                    margin-top: 10px; */
        border-bottom: 1px dotted #d9534f; /* giống màu đỏ trong hình */
    }

    .section-title {
        color: blue;
        font-weight: bold;
    }

    .row-changed {
        color: red !important;
    }

    #tabstrip h2 {
        font-size: 42px;
        font-style: normal;
        font-weight: 100;
        line-height: 50.4px;
        margin: 0;
    }

    #tabstrip h2 span {
        background: none;
        padding-left: 5px;
        vertical-align: top;
    }


    .k-grid .btn-download.k-button {
        background: url('../images/download_icon.png') no-repeat center center;
        background-size: 15px 15px;
        width: 15px;
        height: 15px;
        border: none;
    }
</style>


<script>
    var rowNumber = 1;

    function paraTideConfigureViewGridData() {
        return {
            idList: $("#IdList").val(),
        };
    }

    function paraAttachFileGridData() {
        return {
            documentNumber: $("#CircularRefNum").val(),
        };
    }

    function onRowBound_TideRateViewGrid(e) {
        try {
            var grid = this;  // "this" chính là Kendo Grid

            // Duyệt qua tất cả các dataItem của grid
            grid.dataSource.data().forEach(function (dataItem) {
                // Nếu ChangeFlag = 1 (hoặc == true tùy kiểu dữ liệu của bạn)
                if (dataItem.ChangeFlag === 1 || dataItem.ChangeFlag === true) {
                    // Tìm row tương ứng bằng uid
                    var uid = dataItem.uid;
                    var row = grid.tbody.find("tr[data-uid='" + uid + "']");

                    if (row.length) {
                        // Thêm class để thay đổi style (bạn có thể đặt tên class tùy ý)
                        row.addClass("row-changed");

                        // Nếu muốn highlight cả những ô đã thay đổi trước đó (giữ lại logic cũ của bạn)
                        // thì vẫn giữ phần re-apply cho TermIntRateNew ở đây
                }
            }
            });


            countChangedRows();

        } catch (error) {
            console.error("Error in onRowBound_TideRateConfigureGrid:", error);
        }
    }


    function onRowBound_AttachFileGrid(e) {
        rowNumber = 1;
    }


    function onDownloadFile(e) {
        e.preventDefault(); // ⛔ chặn postback

        var grid = $("#tideFileUploadGrid").data("kendoGrid");
        var dataItem = grid.dataItem($(e.currentTarget).closest("tr"));

        if (!dataItem || !dataItem.FileId) {
            kendo.alert("Không tìm thấy file!");
            return;
        }

        window.location.href =
            '@Url.Action("DownloadFile", "TideRateConfigure")' +'?fileId=' + dataItem.FileId;
    }
</script>

<form id="viewTideRateConfigureBatchForm">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.IdList)
    <div class="section-header">
        <div class="section-title">Thông tin chung</div>
    </div>
    <div class="view_form row" style="padding-top: 5px; width: 100%;">

        <div class="col-md-3">
            <label for="CircularRefNum">Số Quyết định </label>
            @Html.Kendo().TextBoxFor(m => m.CircularRefNum).HtmlAttributes(new { style = "width: 80%;!important;max-width:100% !important;color:navy;" })
        </div>

        <div class="col-md-3">
            <label for="CircularDate">Ngày quyết định</label>
            @Html.Kendo().DatePickerFor(m => m.CircularDate).Format("dd/MM/yyyy").Value(DateTime.Today).HtmlAttributes(new { @readonly = true, style = "width: 80%;!important;max-width:100% !important;color:navy;" })
        </div>


        <div class="col-md-3">
            <label for="EffectiveDate">Ngày hiệu lực</label>
            @Html.Kendo().DatePickerFor(m => m.EffectiveDate).Format("dd/MM/yyyy").Value(DateTime.Today.AddDays(1)).HtmlAttributes(new { @readonly = true, style = "width: 80%;!important;max-width:100% !important;color:navy;" })
        </div>
        <div class="col-md-3">
            <label for="ExpiredDate">Ngày hết hiệu lực</label>
            @Html.Kendo().DatePickerFor(m => m.ExpiryDate).Format("dd/MM/yyyy").Value(new DateTime(9999, 12, 31)).HtmlAttributes(new { @readonly = true, style = "width: 80%;!important;max-width:100% !important;color:navy;" })
        </div>

    </div>
    <div class="view_form row" style="padding-top: 5px; width: 100%;">

        <div class="col-md-6">
            <label for="Status">Trạng thái </label>
            @Html.Kendo().TextBoxFor(m => m.StatusDesc).HtmlAttributes(new { @readonly = true, style = "width: 80%;!important;max-width:100% !important;color:navy;" })
        </div>

        <div class="col-md-6">
            <label for="PosName">Áp dụng tại:</label>
            @Html.Kendo().TextBoxFor(m => m.ApplyPosList).HtmlAttributes(new { @readonly = true, style = "width: 80%;!important;max-width:100% !important;color:navy;" })
        </div>

    </div>
    <div class="view_form row" style="padding-top: 5px; width: 100%;">

        <div class="col-md-6">
            <label for="CreatedBy">Người đề nghị </label>
            @Html.Kendo().TextBoxFor(m => m.CreatedBy).HtmlAttributes(new { @readonly = true, style = "width: 80%;!important;max-width:100% !important;color:navy;" })
        </div>

        <div class="col-md-6">
            <label for="ApproverBy">Người duyệt</label>
            @Html.Kendo().TextBoxFor(m => m.ApproverBy).HtmlAttributes(new { @readonly = true, style = "width: 80%;!important;max-width:100% !important;color:navy;" })
        </div>

    </div>
    <div class="view_form row" style="padding-top: 5px; width: 100%;">
        <div class="col-md-1">
            <label for="Remark">Ghi chú </label>            
        </div>

        <div class="col-md-10">            
            @Html.Kendo().TextBoxFor(m => m.Remark).HtmlAttributes(new { @readonly = true, style = "width: 100%;!important;max-width:100% !important;color:navy;" })
        </div>
    </div>

    @(Html.Kendo().TabStrip()
        .Name("tabstrip")        
        .Animation(animation =>
        animation.Open(effect =>
        effect.Fade(FadeDirection.In)))
        .Items(tabstrip =>
        {
            tabstrip.Add().Text("Thông tin lãi suất")
            .Encoded(false)
            .Selected(true)
            //.ImageUrl(@Url.Content("~/Content/web/tabstrip/sun.svg"))
            .Content(@<text>
                          <div class="section-header">
                              <div class="section-title">Thông tin lãi suất <span id="lblChangedCount" style="color:red;"></span></div>

            </div>

            <div class="view_form row" style="padding-top: 5px;">

                @(Html.Kendo().Grid<TideTermViewModel>()
                            .Name("tideRateConfigureGrid")
                                                           // .Pageable()
                            .Columns(columns =>
                            {
                                columns.Bound(c => c.TermProductCode).Title("SP").Width(80).HtmlAttributes(new { style = "text-align: center;" }).Locked(true);
                                columns.Bound(c => c.TermAccountTypeCode).Title("Loại TK").ClientTemplate(
                            "#= TermAccountTypeCode # - #= TermAccountTypeName #"
                            ).Width(300).HtmlAttributes(new { style = "text-align: center;" }).Locked(true);
                                                                                                             //columns.Bound(c => c.TermAccountTypeName).Title("Tên loại TK").Width(200).HtmlAttributes(new { style = "text-align: left;" }).Locked(true);
                                columns.Bound(c => c.TermEffectiveDate).Title("Hiệu lực").Format("{0:dd/MM/yyyy}").Width(120).HtmlAttributes(new { style = "text-align: center;" }).Locked(true);

                                columns.Bound(c => c.TermSerial).Title("Thứ tự").Format("{0:n0}").Width(80).HtmlAttributes(new { style = "text-align: center;" });
                                columns.Bound(c => c.TermDesc).Title("Kỳ hạn").Width(200).HtmlAttributes(new { style = "text-align: left;" });
                                columns.Bound(c => c.InclusionFlag).Title("Inclusion Flag").Width(100).HtmlAttributes(new { style = "text-align: center;" });
                                columns.Bound(c => c.TermIntRate).Title("Lãi suất HT").Format("{0:n4}").Width(120).HtmlAttributes(new { style = "text-align: center;" });
                                columns.Bound(c => c.TermIntRateNew).Title("Lãi suất mới").Format("{0:n4}").Width(120).HtmlAttributes(new { style = "text-align: center;", @class = "term-int-rate-new" });
                                columns.Bound(c => c.TermAccountSubTypeCode).Hidden().Title("Loại TK phụ").Width(140).HtmlAttributes(new { style = "text-align: center;" }).Locked(true);
                                                                                                                                                                                          @* columns.Command(command => { command.Edit(); }).Title("Thao tác").Width(200).HtmlAttributes(new { style = "text-align: center;" }); *@
                                columns.Bound(c => c.ChangeFlag).Hidden();
                            })
                            .ToolBar(toolbar => toolbar.Excel().HtmlAttributes(new { id = "btnExportExcel", style = "height: 25px;width: 110px; font-weight:bold; color: blue;font-family:Tahoma; font-size: 12px;font-weight:bold;!important;", title = "Xuất dữ liệu trên lưới ra file excel" }).Text("Xuất excel"))
                            .Editable(editable => editable.Mode(GridEditMode.InLine))
                            .Excel(excel => excel.FileName("Danh_sach_cau_hinh_lai_suat.xlsx").AllPages(true))                                                                                                               
                            .HtmlAttributes(new { style = "height: 400px; width: 100%;" })
                            .Scrollable(s => s.Enabled(true).Virtual(false)) // Bật thanh cuộn ngang
                            .DataSource(dataSource => dataSource
                            .Ajax()
                            .ServerOperation(false)
                            .Read(read => read.Action("LoadTideConfigureViewGridData", "TideRateConfigure").Type(HttpVerbs.Post).Data("paraTideConfigureViewGridData"))                                                                                                                                                                        
                            .Model(model => model.Id(p => p.Id)) // Sử dụng Id
                            )
                            .AutoBind(true)
                            .Events(events => events.DataBound("onRowBound_TideRateViewGrid"))
                            )
            </div>
                      </text>);

            tabstrip.Add().Text("Thông tin tờ trình")
            .Encoded(false)
            //.ImageUrl(@Url.Content("~/Content/web/tabstrip/rain.svg"))
            .Content(@<text>
            @(Html.Kendo().Grid<AttachedFileInfo>()
                    .Name("tideFileUploadGrid")
                                                   // .Pageable()
                    .Columns(columns =>
                    {
                        columns.Bound(c => c.FileId)
                        .Title("STT")
                        .Width(60)
                        .HtmlAttributes(new { style = "text-align:center;" })
                        .ClientTemplate("#= ++rowNumber #");                        
                        columns.Bound(c => c.DocumentNumber).Title("Số quyết định").Width(120).HtmlAttributes(new { style = "text-align: center;" });
                        columns.Bound(c => c.FileName).Title("Tập tin").Width(120).HtmlAttributes(new { style = "text-align: center;" });
                        columns.Bound(c => c.FileType).Title("Loại file").Width(80).HtmlAttributes(new { style = "text-align: center;" });
                        columns.Command(command =>
                    {
                        command.Custom("Download").Text("<span style='color: blue;'></span>").Click("onDownloadFile").HtmlAttributes(new { style = "width: 50px !important; display: inline-block; vertical-align: middle;", title = "Tải file", @class = "btn-download" });
                    }).Width(80).Title("Tải file").HtmlAttributes(new { style = "text-align: center;" }); ;
                    })
                    //.ToolBar(toolbar => toolbar.Excel().HtmlAttributes(new { id = "btnExportExcel", style = "height: 25px;width: 110px; font-weight:bold; color: blue;font-family:Tahoma; font-size: 12px;font-weight:bold;!important;", title = "Xuất dữ liệu trên lưới ra file excel" }).Text("Xuất excel"))
                    //.Editable(editable => editable.Mode(GridEditMode.InLine))
                    .Excel(excel => excel.FileName("Danh_sach_to_trinh.xlsx").AllPages(true))                                                                                                       
                    .HtmlAttributes(new { style = "height: 200px; width: 100%;" })
                    .Scrollable(s => s.Enabled(true).Virtual(false)) 
                    .DataSource(dataSource => dataSource
                    .Ajax()
                    .ServerOperation(false)
                    .Read(read => read.Action("LoadAttachFileGridData", "TideRateConfigure").Type(HttpVerbs.Post).Data("paraAttachFileGridData"))                                                                                                                                                                
                    )
                    .AutoBind(true)
                    .Events(events => events.DataBound("onRowBound_AttachFileGrid"))
                    )
                      </text>);

            tabstrip.Add().Text("Trạng thái cập nhật iDC")
            .Encoded(false)
                            //.ImageUrl(@Url.Content("~/Content/web/tabstrip/rain.svg"))
            .Content(@<text>
                <div class="view_form row" style="padding-top: 5px; width: 100%;">
                    <div class="col-md-2">
                <label for="StatusUpdateCoreDesc">Trạng thái cập nhật</label>
            </div>

                    <div class="col-md-10">

                        @Html.Kendo().TextBoxFor(m => m.StatusUpdateCoreDesc).HtmlAttributes(new { @readonly = true, style = "width: 80%;!important;max-width:100% !important;color:navy;" })
                    </div>
                </div>
        <div class="view_form row" style="padding-top: 5px; width: 100%;">
            <div class="col-md-2">
                <label for="CallApiTxnStatus">Txn Status </label>                
            </div>

                    <div class="col-md-10">                        
                        @Html.Kendo().TextBoxFor(m => m.CallApiTxnStatus).HtmlAttributes(new { @readonly = true, style = "width: 80%;!important;max-width:100% !important;color:navy;" })
                    </div>
        </div>
        <div class="view_form row" style="padding-top: 5px; width: 100%;">
            <div class="col-md-2">
                <label for="CallApiResponseCode">Response Code </label>
                
            </div>

                    <div class="col-md-10">                        
                        @Html.Kendo().TextBoxFor(m => m.CallApiResponseCode).HtmlAttributes(new { @readonly = true, style = "width: 80%;!important;max-width:100% !important;color:navy;" })
                    </div>
        </div>
        <div class="view_form row" style="padding-top: 5px; width: 100%;">
            <div class="col-md-2">
                <label for="CallApiResponseMsg">Response Message </label>                
            </div>
                    <div class="col-md-10">                      
                        @Html.Kendo().TextBoxFor(m => m.CallApiResponseMsg).HtmlAttributes(new { @readonly = true, style = "width: 80%;!important;max-width:100% !important;color:navy;" })
                    </div>
        </div>
    </text>);

        })
        )

</form>

<script>
    $(document).ready(function () {
        countChangedRows();
    });

    function countChangedRows() {
        var grid = $("#tideRateConfigureGrid").data("kendoGrid");
        if (!grid) return;

        // Lấy toàn bộ dữ liệu trên Grid (vì bạn đang ServerOperation(false))
        var data = grid.dataSource.view();

        // Đếm số dòng có ChangeFlag = 1
        var total = data.length;
        var count = data.filter(x => x.ChangeFlag === 1).length;

        // Gán vào label hiển thị
        $("#lblChangedCount").text("(Số kỳ hạn thay đổi: " + count + "/" + total + ")");
    }
</script>