@model VBSPOSS.Models.BatchAuthorizationModel

<div id="myPermitUpd"></div>
<style>
    /* .label {
        vertical-align: central;
        text-align: right;
        color: navy;
        padding-right: 3px;
    }

    .row {
        display: inline-flex;
        padding: 1px;
    }

    .save-form {
        padding-right: 0px !important;
        padding-left: 0px !important;
        display: inline-flex;
        align-items: center !important;
    }
 */
    /*0 - Chữ đậm; 1 - Chữ đậm; 2 - Chữ nghiêng; 3 - Chữ thường; 4 - Chữ Nghiêng đậm; 5 - Chữ gạch chân ở dưới;*/
    .style0 {
        font-weight: bold;
        color: blueviolet;
    }

    .style1 {
        font-weight: bold;
        color: blueviolet;
    }

    .style2 {
        font-style: italic;
    }

    .style3 {
    }

    .style4 {
        font-weight: bold;
        font-style: italic;
    }

    .style5 {
        text-decoration: underline;
    }

    .lbcontrol {
        padding-left: 5px; 
        padding-right: 5px;
    }
</style>


<script>
    function onSaveGridCompleted_BatchAuthorizationGrid(e) {
        if (e != null && e.response != null) {
            if (!e.response.Errors) {
                if (e.type == "create") {

                }
                else if (e.type == "update") {
                    alert("Xử lý yêu cầu thành công!");
                }
                else if (e.type == "read") {
                }
            }
            else {
                alert(e.response.Errors);
            }
        }
    }

    function error_handler_BatchAuthorizationGrid(e) {
        if (e.errors) {
            var message = "Thông báo lỗi: ";
            dataChange = true;//Làm sao để gắn giá trị này khi thoát ra mà màn hình cha bên ngoài nó Reload đc
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }

    function param_BatchAuthorizationRoleUpdate() {
        return {
            grantType: 0,
            pTitleChoice: "--- Chọn nhóm người dùng (Bắt buộc) ---"
        };
    }

    function param_BatchAuthorizationMenuUpdate() {
        return {
            pTitleChoice: "--- Chọn chức năng (Không bắt buộc) ---"
        };
    }

    function paramLoadGridData_BatchAuthorizationGrid() {
        return {
            roleCode: $("#RoleCode").val(),
            roleName: "",
            menuId: $("#MenuId").val(),//
            menuText: "",
            permitId: -1
        };
    }

    function onRowBound_BatchAuthorizationGrid(e) {
        var rows = e.sender.tbody.children();
        var isRed = true;
        for (var j = 0; j < rows.length; j++) {
            var row = $(rows[j]);
            var dataItem = e.sender.dataItem(row);
            var trangthaiBG = dataItem.get("Status");
            if (trangthaiBG == "0" || trangthaiBG == "C" || trangthaiBG == null)
                row.css({ "background-color": "white", "color": "red" });

            var iKieuIn = dataItem.get("KieuIn");
            if (iKieuIn == 0 || iKieuIn == 1)
                row.addClass('style1');
            else if (iKieuIn == 2)
                row.addClass('style2');
            else if (iKieuIn == 3)
                row.addClass('style3');
            else if (iKieuIn == 4)
                row.addClass('style4');
            else if (iKieuIn == 5)
                row.addClass('style5');
        }
    }

    function refreshGrid_BatchAuthorizationGrid() {
        var objGridUpdateMenuRole = $("#_BatchAuthorizationGrid").data("kendoGrid");
        if (objGridUpdateMenuRole != null) {
            objGridUpdateMenuRole.dataSource.read();
        }
    }

    function onLoadListMenuRoles(e) {
        $('#mydivUpdMenuRoles').show();
        var lcGroupCode = $("#RoleCode").val();
        if (lcGroupCode == null || lcGroupCode == "") {
            alert('Bạn chưa chọn nhóm người dùng cần phân quyền danh sách các chức năng. Vui lòng kiểm tra lại!');
            $('#RoleCode').focus();
            $('#mydivUpdMenuRoles').hide();
            e.preventDefault();
            return false;
        }
        refreshGrid_BatchAuthorizationGrid();
    }

    function index_BatchAuthorizationGrid(dataItem) {
        var data = $("#_BatchAuthorizationGrid").data("kendoGrid").dataSource.data();
        return data.indexOf(dataItem);
    }

    var isClosedUpdMenuRoles = false;

    function onCloseUpdate() {
        isClosedUpdMenuRoles = true;
        mainWindow.data("kendoWindow").close();
    }

    function onClick(e) {
        var lcGroupCode = $("#RoleCode").val();
        if (lcGroupCode == null || lcGroupCode == "") {
            alert('Bạn chưa chọn nhóm người dùng cần phân quyền danh sách các chức năng. Vui lòng kiểm tra lại!');
            $('#RoleCode').focus();
            $('#mydivUpdMenuRoles').hide();
            e.preventDefault();
            return false;
        }
        var nameGroup = $("#RoleCode").data("kendoComboBox").text();

        //Kiểm tra xem Dữ liệu nhập trên lưới đúng chưa?
        var objGridMenuRoles = $("#_BatchAuthorizationGrid").data("kendoGrid");
        var objDataSourceGridMenuRoles = objGridMenuRoles.dataSource;
        var totalRecordGrids = objDataSourceGridMenuRoles.total();
        if (totalRecordGrids <= 0) {
            alert("Bạn chưa tải dữ liệu danh sách chức năng để phân quyền cho nhóm người dùng [" + nameGroup + "]. Vui lòng kiểm tra lại!" + "\n Chú ý: Để phân quyền người dùng bắt buộc phải chọn nhóm người dùng, sau đó nhấn tải dữ liệu danh sách chức năng");
            e.preventDefault();
            return false;
        }
    }

    function onCheckWarning(index) {
        if ($('#MenuRolesList_ViewPermissionFlag' + index).is(':checked')) {
            $('#MenuRolesList_ViewPermissionFlag' + index).val("1");
        }
        else {
            $('#MenuRolesList_ViewPermissionFlag' + index).val("0");
        }

        if ($('#MenuRolesList_CreatePermissionFlag' + index).is(':checked')) {
            $('#MenuRolesList_CreatePermissionFlag' + index).val("1");
        }
        else {
            $('#MenuRolesList_CreatePermissionFlag' + index).val("0");
        }

        if ($('#MenuRolesList_EditPermissionFlag' + index).is(':checked')) {
            $('#MenuRolesList_EditPermissionFlag' + index).val("1");
        }
        else {
            $('#MenuRolesList_EditPermissionFlag' + index).val("0");
        }

        if ($('#MenuRolesList_DeletePermissionFlag' + index).is(':checked')) {
            $('#MenuRolesList_DeletePermissionFlag' + index).val("1");
        }
        else {
            $('#MenuRolesList_DeletePermissionFlag' + index).val("0");
        }

        if ($('#MenuRolesList_AuthorizationPermissionFlag' + index).is(':checked')) {
            $('#MenuRolesList_AuthorizationPermissionFlag' + index).val("1");
        }
        else {
            $('#MenuRolesList_AuthorizationPermissionFlag' + index).val("0");
        }

        if ($('#MenuRolesList_ReportPermissionFlag' + index).is(':checked')) {
            $('#MenuRolesList_ReportPermissionFlag' + index).val("1");
        }
        else {
            $('#MenuRolesList_ReportPermissionFlag' + index).val("0");
        }
        
        // var lcKetQuaPermitUpdate = $("#MenuRolesList_KetQuaPermitUpdate" + index).val();
        // var lcKetQuaPermitView = $("#MenuRolesList_KetQuaPermitView" + index).val();
        // var lcKetQuaPermitNoAccess = $("#MenuRolesList_KetQuaPermitNoAccess" + index).val();

        // if (lcKetQuaPermitUpdate == "1" && lcKetQuaPermitView == "1") {
        //     alert("Bạn không thể phân cả 2 quyền cho một nhóm người dùng cùng lúc. Vui lòng kiểm tra lại!" + "\n Chú ý: Có thể chọn gán một quyền cao nhất ví dụ là quyền chỉnh sửa.");
        //     $("#MenuRolesList_KetQuaPermitView" + index).attr('checked', false);
        // }
        // else if (lcKetQuaPermitNoAccess == "1" && (lcKetQuaPermitUpdate == "1" || lcKetQuaPermitView == "1")) {
        //     alert("Bạn đã phân quyền [Không truy cập] rồi, nên không thể phân quyền tiếp là quyền [Chỉnh sửa] hoặc quyền [Xem]. Vui lòng kiểm tra lại!");
        //     $("#MenuRolesList_KetQuaPermitUpdate" + index).attr('checked', false);
        //     $("#MenuRolesList_KetQuaPermitView" + index).attr('checked', false);
        // }
    }
</script>

<form asp-controller="RoleManagement" asp-action="SaveBatchAuthorization" data-ajax="true" data-ajax-method="POST" id="form0" enctype="multipart/form-data">
    @Html.Hidden("FlagCallView", TempData["FlagCall"])
    @Html.Hidden("UserPosCodeView", TempData["UserPosCode"])
    @Html.HiddenFor(m => m.Status, new { @Value = Model == null ? 1 : Model.Status })

    <div class="row" style="padding-top: 0px; padding-left: 0px; padding-bottom: 0px;">
        <div class="col-md-12">
            <label class="lbcontrol" style="color: navy;text-align:right;width:150px;padding-right:10px;">Nhóm người dùng</label>
            @(Html.Kendo().ComboBoxFor(m => m.RoleCode)
                .Filter(FilterType.Contains)
                .Placeholder("--- Chọn nhóm người dùng ---")
                .DataTextField("value")
                .DataValueField("id")
                .DataSource(source => { source.Read(read => { read.Action("GetRoles", "RoleManagement").Data("param_BatchAuthorizationRoleUpdate"); }).ServerFiltering(false); })
                .HtmlAttributes(new { style = "width: 300px; !important;max-width: 100% !important;color: navy;" })
                .Suggest(true)
                .AutoBind(true)
                .SelectedIndex(0)
                )
            <label class="lbcontrol" style="color: navy;text-align:right;width:180px;padding-right:10px;">Chức năng phân quyền</label>
            @(Html.Kendo().ComboBoxFor(m => m.MenuId)
                .Filter(FilterType.Contains)
                .Placeholder("--- Chọn chức năng ---")
                .DataTextField("value")
                .DataValueField("id")
                .DataSource(source => { source.Read(read => { read.Action("GetMenus", "RoleManagement").Data("param_BatchAuthorizationMenuUpdate"); }).ServerFiltering(false); })
                .HtmlAttributes(new { style = "width: 300px; !important;max-width: 100% !important;color: navy;" })
                .Suggest(true)
                .AutoBind(true)
                )

            <div style="padding-left: 5px; padding-right: 5px;">
                @(Html.Kendo().Button()
                                .Name("btnLoadList")
                                .Events(ev => ev.Click("onLoadListMenuRoles"))
                                .HtmlAttributes(new { type = "button", style = "font-weight:bold; width:120px; height: 25px; color: blue;padding-left: 0px;", title = "Tải danh chức năng để phân quyền cho nhóm người dùng" })
                                .ImageUrl(Url.Content("~/images/tim_kiem.png"))
                                .Content("Tải danh sách"))
            </div>
           
        </div>
    </div>


    <br/>
    <div style="padding-top: 3px; padding-left: 0px; padding-bottom: 0px;">
        <div>
            @(Html.Kendo().Grid<VBSPOSS.Models.MenuRolesViewModel>()
                .Name("_BatchAuthorizationGrid")
                .Events(e => e.DataBound("onRowBound_BatchAuthorizationGrid"))
                .Columns(columns =>
                {
                    columns.Bound(c => c.Id).Hidden().ClientTemplate("#= Id #" + "<input type='hidden' name='MenuRolesList[#= index_BatchAuthorizationGrid(data)#].Id' value='#= Id #' />");
                    columns.Bound(c => c.Order).Hidden().ClientTemplate("#= Order #" + "<input type='hidden' name='MenuRolesList[#= index_BatchAuthorizationGrid(data)#].Order' value='#= Order #' />");
                    columns.Bound(c => c.RoleCode).Hidden().ClientTemplate("#= RoleCode #" + "<input type='hidden' name='MenuRolesList[#= index_BatchAuthorizationGrid(data)#].RoleCode' value='#= RoleCode #' />");
                    columns.Bound(c => c.Status).Hidden().ClientTemplate("#= Status #" + "<input type='hidden' name='MenuRolesList[#= index_BatchAuthorizationGrid(data)#].Status' value='#= Status #' />");
                    columns.Bound(c => c.Action).Hidden();
                    columns.Bound(c => c.Area).Hidden();
                    columns.Bound(c => c.ImageClass).Hidden();
                    columns.Bound(c => c.ActiveLi).Hidden();
                    columns.Bound(c => c.Controller).Hidden();
                    columns.Bound(c => c.ParentId).Hidden();
                    columns.Bound(c => c.IsParent).Hidden();
                    columns.Bound(c => c.HasChild).Hidden();
                    columns.Bound(c => c.IsSelect).Hidden();

                    columns.Bound(c => c.Order).Title("STT").Width(80).HtmlAttributes(new { style = "text-align: center;" }).Locked(true);
                    //columns.Bound(c => c.RoleName).ClientTemplate("#= RoleName #" + "<input type='hidden' name='MenuRolesList[#= index_BatchAuthorizationGrid(data)#].RoleName' value='#= RoleName #' />").Title("Nhóm quyền").Width(160).HtmlAttributes(new { style = "text-align: left;" }).Locked(true);
                    columns.Bound(c => c.Text).ClientTemplate("#= Text #" + "<input type='hidden' name='MenuRolesList[#= index_BatchAuthorizationGrid(data)#].Text' value='#= Text #' />").Title("Chức năng").Width(280).HtmlAttributes(new { style = "text-align: left;" }).Locked(true);
                    columns.Bound(c => c.GroupOrder).ClientTemplate("#= GroupOrder #" + "<input type='hidden' name='MenuRolesList[#= index_BatchAuthorizationGrid(data)#].GroupOrder' value='#= GroupOrder #' />").Title("Thứ tự chức năng").Width(200).HtmlAttributes(new { style = "text-align: center;" }).Locked(true);
                    columns.Bound(c => c.StatusDesc).Title("Trạng thái chức năng").Width(200).HtmlAttributes(new { style = "text-align: center;" }).Locked(true);
                    @* columns.Bound(c => c.CurrentPermissionDesc).Title("Thông tin phân quyền hiện tại").Width(200).HtmlAttributes(new { style = "text-align: center;" }).Locked(true); *@


                    @* columns.Group(groupRole => groupRole.Title("Thông tin phân quyền hiện tại").Locked(true)
            .Columns(infoRoleCurrent =>
            {
            infoRoleCurrent.Bound(x => x.ViewPermissionDesc).ClientTemplate("#= ViewPermissionDesc #" + "<input type='hidden' name='MenuRolesList[#= index_BatchAuthorizationGrid(data)#].ViewPermissionDesc' value='#= ViewPermissionDesc #' />").Title("Xem").Width(80).HtmlAttributes(new { style = "text-align: center;" });
            infoRoleCurrent.Bound(x => x.CreatePermissionDesc).ClientTemplate("#= CreatePermissionDesc #" + "<input type='hidden' name='MenuRolesList[#= index_BatchAuthorizationGrid(data)#].CreatePermissionDesc' value='#= CreatePermissionDesc #' />").Title("Tạo").Width(80).HtmlAttributes(new { style = "text-align: center;" });
            infoRoleCurrent.Bound(x => x.EditPermissionDesc).ClientTemplate("#= EditPermissionDesc #" + "<input type='hidden' name='MenuRolesList[#= index_BatchAuthorizationGrid(data)#].EditPermissionDesc' value='#= EditPermissionDesc #' />").Title("Sửa").Width(80).HtmlAttributes(new { style = "text-align: center;" });
            infoRoleCurrent.Bound(x => x.DeletePermissionDesc).ClientTemplate("#= DeletePermissionDesc #" + "<input type='hidden' name='MenuRolesList[#= index_BatchAuthorizationGrid(data)#].DeletePermissionDesc' value='#= DeletePermissionDesc #' />").Title("Xóa").Width(80).HtmlAttributes(new { style = "text-align: center;" });
            infoRoleCurrent.Bound(x => x.AuthPermissionDesc).ClientTemplate("#= AuthPermissionDesc #" + "<input type='hidden' name='MenuRolesList[#= index_BatchAuthorizationGrid(data)#].AuthPermissionDesc' value='#= AuthPermissionDesc #' />").Title("Duyệt").Width(80).HtmlAttributes(new { style = "text-align: center;" });
            infoRoleCurrent.Bound(x => x.ReportPermissionDesc).ClientTemplate("#= ReportPermissionDesc #" + "<input type='hidden' name='MenuRolesList[#= index_BatchAuthorizationGrid(data)#].ReportPermissionDesc' value='#= ReportPermissionDesc #' />").Title("Tạo tờ trình").Width(80).HtmlAttributes(new { style = "text-align: center;" });
            infoRoleCurrent.Bound(x => x.NoAccessPermissionDesc).ClientTemplate("#= NoAccessPermissionDesc #" + "<input type='hidden' name='MenuRolesList[#= index_BatchAuthorizationGrid(data)#].NoAccessPermissionDesc' value='#= NoAccessPermissionDesc #' />").Title("Không truy cập").Width(120).HtmlAttributes(new { style = "text-align: center;" });
            })); *@
                    columns.Group(groupUpdateRole => groupUpdateRole.Title("Phân quyền theo chức năng (Thêm/Sửa)")
                    .Columns(infoUpdateRole =>
                    {
                        infoUpdateRole.Template("<input type='checkbox' name='MenuRolesList[#= index_BatchAuthorizationGrid(data)#].ViewPermissionFlag' id='MenuRolesList_ViewPermissionFlag#= index_BatchAuthorizationGrid(data)#' value='#= ViewPermissionFlag#' class= 'k-checkbox01' #= ViewPermissionFlag != 0 ? 'checked':'' # onclick='onCheckWarning(#= index_BatchAuthorizationGrid(data)#)'> ")
                    .Title("Xem").Width(80).HtmlAttributes(new { style = "text-align: center;" });
                        infoUpdateRole.Template("<input type='checkbox' name='MenuRolesList[#= index_BatchAuthorizationGrid(data)#].CreatePermissionFlag' id='MenuRolesList_CreatePermissionFlag#= index_BatchAuthorizationGrid(data)#' value='#= CreatePermissionFlag#' class= 'k-checkbox01' #= CreatePermissionFlag != 0 ? 'checked':'' # onclick='onCheckWarning(#= index_BatchAuthorizationGrid(data)#)'> ")
                    .Title("Tạo").Width(80).HtmlAttributes(new { style = "text-align: center;" });
                        infoUpdateRole.Template("<input type='checkbox' name='MenuRolesList[#= index_BatchAuthorizationGrid(data)#].EditPermissionFlag' id='MenuRolesList_EditPermissionFlag#= index_BatchAuthorizationGrid(data)#' value='#= EditPermissionFlag#' class= 'k-checkbox01' #= EditPermissionFlag != 0 ? 'checked':'' # onclick='onCheckWarning(#= index_BatchAuthorizationGrid(data)#)'> ")
                    .Title("Sửa").Width(80).HtmlAttributes(new { style = "text-align: center;" });
                        infoUpdateRole.Template("<input type='checkbox' name='MenuRolesList[#= index_BatchAuthorizationGrid(data)#].DeletePermissionFlag' id='MenuRolesList_DeletePermissionFlag#= index_BatchAuthorizationGrid(data)#' value='#= DeletePermissionFlag#' class= 'k-checkbox01' #= DeletePermissionFlag != 0 ? 'checked':'' # onclick='onCheckWarning(#= index_BatchAuthorizationGrid(data)#)'> ")
                    .Title("Xóa").Width(80).HtmlAttributes(new { style = "text-align: center;" });
                        infoUpdateRole.Template("<input type='checkbox' name='MenuRolesList[#= index_BatchAuthorizationGrid(data)#].AuthorizationPermissionFlag' id='MenuRolesList_AuthorizationPermissionFlag#= index_BatchAuthorizationGrid(data)#' value='#= AuthorizationPermissionFlag#' class= 'k-checkbox01' #= AuthorizationPermissionFlag != 0 ? 'checked':'' # onclick='onCheckWarning(#= index_BatchAuthorizationGrid(data)#)'> ")
                    .Title("Duyệt").Width(80).HtmlAttributes(new { style = "text-align: center;" });
                        infoUpdateRole.Template("<input type='checkbox' name='MenuRolesList[#= index_BatchAuthorizationGrid(data)#].ReportPermissionFlag' id='MenuRolesList_ReportPermissionFlag#= index_BatchAuthorizationGrid(data)#' value='#= ReportPermissionFlag#' class= 'k-checkbox01' #= ReportPermissionFlag != 0 ? 'checked':'' # onclick='onCheckWarning(#= index_BatchAuthorizationGrid(data)#)'> ")
                    .Title("Tạo tờ trình").Width(80).HtmlAttributes(new { style = "text-align: center;" });
                    }));
                })
                .HtmlAttributes(new { style = "color: navy;height: 500px; width:100%;" })
                .Editable(editable => { editable.Mode(GridEditMode.InCell); })
                .Sortable(false)
                .Scrollable(s => s.Enabled(true).Height("auto"))
                .Pageable(pageable => pageable.Refresh(true).ButtonCount(5))
                .DataSource(dataSource => dataSource
                .Ajax()
                .Batch(true)
                .ServerOperation(false)
                .Model(model =>
                {
                    model.Id(p => p.Id);
                    model.Field(p => p.Order).Editable(false);
                    model.Field(p => p.RoleName).Editable(false);
                    model.Field(p => p.Text).Editable(false);
                    model.Field(p => p.GroupOrder).Editable(false);
                    model.Field(p => p.StatusDesc).Editable(false);
                    model.Field(p => p.ViewPermissionDesc).Editable(false);
                    model.Field(p => p.NoAccessPermissionDesc).Editable(false);
                })
                .Events(e => e.RequestEnd("onSaveGridCompleted_BatchAuthorizationGrid").Error("error_handler_BatchAuthorizationGrid"))
                .Read(read => read.Action("LoadBatchAuthorizationGridData", "RoleManagement").Data("paramLoadGridData_BatchAuthorizationGrid"))
                .PageSize(700)
                )
                .Resizable(resize => resize.Columns(true))
                .AutoBind(false)
                )
        </div>
    </div>


    <hr style='margin-top: 0.1em; margin-bottom: 0.2em; padding-top: 0px; background-color: #333; border-width: 0; color: #000000; height: 1px; line-height: 0; text-align: left; width: 100%; background-image: linear-gradient(to right, #ccc, #333, #ccc); ' />
    <div class="row" style="padding-top: 2px; width: 100%;">
        <div class="col-md-12" style="display: unset;">
            <div style="float:left; width:70%;">
                <label id="lblThongbao" class="lbcontrol" style="font-weight: bold; color: orangered;text-align:left;width:750px;padding-top: 4px;"></label>
            </div>
            <div style="float:right; width:30%;text-align:right;padding-right:10px;">
                @(Html.Kendo().Button()
                    .Name("btnSave")
                    .Events(ev => ev.Click("onClick"))
                    .HtmlAttributes(new { type = "submit", style = "width: 100px; font-weight:bold; color: blue;", title = "Cập nhật thông tin phân quyền" })
                    .ImageUrl(Url.Content("~/images/save.png"))
                    .Content("Lưu lại"))&nbsp;
                @(Html.Kendo().Button().Name("btnThoat").Events(ev => ev.Click("onCloseUpdate")).HtmlAttributes(new { type = "button", style = "width: 100px; font-weight:bold; color: blue;", title = "Đóng lại màn hình cập nhật thông tin phân quyền" }).ImageUrl(Url.Content("~/images/close_icon.gif")).Content("Quay ra"))
            </div>
        </div>
    </div>
</form>

<script>
    function clearControls() {

    }

    $(function () {
        $("#form0").submit(function (event) {
            event.preventDefault();
            var dataString;
            var action = this.action;
            var contentType;
            var processData;
            if (this.enctype == "multipart/form-data") {
                dataString = new FormData($(this).get(0));
                contentType = false;
                processData = false;
            } else {
            }

            $.ajax({
                url: this.action,
                type: this.method,
                dataType: "json", //change to your own, else read my note above on enabling the JsonValueProviderFactory in MVC
                contentType: contentType,
                processData: processData,
                data: dataString,
                success: function (result) {
                    // var lcCountRoles = "";
                    // var lcRetUpdate = "";
                    // var arlRets = result.split("#");
                    var lcRetUpdate = parseInt(result);
                    var nameGroup = $("#RoleCode").data("kendoComboBox").text();

                    // if (arlRets.length > 0) {
                    //     lcRetUpdate = arlRets[0];
                    //     lcCountRoles = arlRets[1];
                    // }
                    if (lcRetUpdate > 0) {
                        alert("Bạn đã cập nhật phân quyền nhóm người dùng [" + nameGroup + "] với các chức năng thành công!" + "\n\r Chú ý: Kết quả cập nhật: Số lượng quyền đã phân là " + lcRetUpdate);
                        clearControls();
                        dataChange = true;
                        //onCloseUpdate();
                    }
                    else {
                        dataChange = false;
                        // if (lcRetUpdate == "1")
                        //     alert("Bạn chưa chọn nhóm người dùng cần phân quyền theo các chức năng.Vui lòng kiểm tra lại!");
                        // else if (lcRetUpdate == "2")
                        //     alert("Bạn chưa tải danh sách các chức năng để phân quyền cho nhóm người dùng [" + nameGroup + "]. Vui lòng kiểm tra lại!");
                        // else if (lcRetUpdate == "3")
                        //     alert("Bạn không thể phân cả 2 quyền (Chỉnh sửa, Xem) cho nhóm người dùng [" + nameGroup + "] cùng lúc. Vui lòng kiểm tra lại " + "\n Chú ý: Có thể chọn gán một quyền cao nhất ví dụ là quyền chỉnh sửa");
                        // else if (lcRetUpdate == "4")
                        //     alert("Bạn đã phân quyền không truy cập rồi, nên không thể phân quyền tiếp là quyền Chỉnh sửa hoặc quyền Xem. Vui lòng kiểm tra lại!");
                        // else if (lcRetUpdate == "100")
                        alert("Cập nhật phân quyền các chức năng cho nhóm người dùng [" + nameGroup + "] có lỗi. Vui lòng kiểm tra lại!");
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Lỗi khi cập nhật dữ liệu. Vui lòng liên hệ quản trị hệ thống!");
                }
            });
            return false;
        });
    });

    // $(document).ready(function () {


    // });
</script>