@model VBSPOSS.ViewModels.UserManagementIDCViewModel
@using VBSPOSS.Extensions
@using VBSPOSS.Models
@using VBSPOSS.Constants

@{
    var userPermission = TempData.Get<RolePermissionModel>("UserPermission");
    TempData.Keep("UserPermission");
}
<div id="myPopupApproval"></div>

<style>
    #gridMainIDCApproval div a, table tr, td {
        font-size: 12px;
    }

    .btn-view-edit,
    .btn-delete {
        padding: 0 2px !important;
        min-width: 20px !important;
    }

    #gridMainIDCApproval .k-grid td {
        border-right: 1px solid #ddd !important;
    }

    #gridMainIDCApproval .k-grid-header th {
        border-right: 1px solid #ddd !important;
    }

    .k-grid-header .k-header > .k-link {
        font-family: Tahoma !important;
        font-weight: bold !important;
        color: navy;
    }

    .k-grid th, .k-grid td {
        font-family: tahoma;
        color: navy;
    }

    red {
        color: red;
    }

    green {
        color: green;
    }

    .style0 {
        font-weight: bold;
        color: blueviolet;
    }

    .style1 {
        font-weight: bold;
        color: blueviolet;
    }

    .style2 {
        font-style: italic;
    }

    .style3 {
    }

    .style4 {
        font-weight: bold;
        font-style: italic;
    }

    .style5 {
        text-decoration: underline;
    }

    .k-dropdown .k-dropdown-wrap {
        height: 21px;
    }

    .k-grid .btn-view.k-button {
        background: url('../images/icon_view.png') no-repeat center center;
        background-size: 15px 15px;
        width: 15px;
        height: 15px;
        border: none;
    }

    .k-grid .btn-view-edit.k-button {
        background: url('../images/icon_edit.png') no-repeat center center;
        background-size: 15px 15px;
        width: 15px;
        height: 15px;
        border: none;
    }

    .k-grid .btn-delete.k-button {
        background: url('../images/icon_delete.png') no-repeat center center;
        background-size: 15px 15px;
        width: 15px;
        height: 15px;
        border: none;
    }

    .k-grid .btn-auth.k-button {
        background: url('../images/icon_auth.png') no-repeat center center;
        background-size: 15px 15px;
        width: 15px;
        height: 15px;
        border: none;
    }

    .k-grid .btn-approval.k-button {
        background: url('../images/icon_approval.png') no-repeat center center;
        background-size: 15px 15px;
        width: 15px;
        height: 15px;
        border: none;
    }

    input[type=file] {
        display: block;
        padding-top: 2px;
        padding-left: 0px;
    }

    ._blue_link {
        font-weight: bold;
        color: blue;
    }

</style>
<script>
    var userPermission = @Html.Raw(Json.Serialize(userPermission ?? new RolePermissionModel()));
    var mainWindowApproval = $("#myPopupApproval");
    //var currentPdfUrl = null;

    var uploadedFiles = [];
</script>

<script>
    function stringToDate(_date, _format, _delimiter) {
        var formatLowerCase = _format.toLowerCase();
        var formatItems = formatLowerCase.split(_delimiter);
        var dateItems = _date.split(_delimiter);
        var monthIndex = formatItems.indexOf("mm");
        var dayIndex = formatItems.indexOf("dd");
        var yearIndex = formatItems.indexOf("yyyy");
        var month = parseInt(dateItems[monthIndex]);
        month -= 1;
        var formatedDate = new Date(dateItems[yearIndex], month, dateItems[dayIndex]);
        return formatedDate;
    }

    function paramLoadListBranchApprovalFind() {
        return {
            pFlagCondi: "5",
            pStatus: "O",
            pShortName: "1",
            pTitleChoice: "",
            pFlagTextShow: "1",
            pUserPosCode: "",
            pUserName: "",
            pFlagWholeBank: 1
        };
    }
   
    function paramLoadGridDataApproval() {
        var lcStatus = $("#StatusApproval_Find").val();
        var lcButtonType = $("#ButtonTypeView").val();
        var lcFlagCallView = $("#FlagCallView").val();

        if (lcFlagCallView == $("#EventFlag_ApprovalView").val()) {
            lcStatus = 2;
        }
        if (lcFlagCallView == $("#EventFlag_AuthorizeView").val()) {
            lcStatus = 1;
        }

        return {
            pPosCode: $("#MainPosCodeApproval_Find").val(),
            pFunctionType: $("#FunctionTypeApproval_Find").val(),
            pNickName: "",
            pFullName: "",
            pStatus: lcStatus,
            pEventCode: lcFlagCallView
        };
    }

    function refreshGridIDCApproval() {
        var grid = $("#gridMainIDCApproval").data("kendoGrid");
        if (grid != null) {
            grid.dataSource.read();
        }
    }

    function onSearchApprovalTest(e) {
        refreshGridIDCApproval();
    }

    function onRowBoundIDCApproval(e) {
        var rows = e.sender.tbody.children();
        for (var j = 0; j < rows.length; j++) {
            var row = $(rows[j]);
            var dataItem = e.sender.dataItem(row);
            var trangthaiRow = dataItem.get("Status");
            if (trangthaiRow == "C" || trangthaiRow == null || trangthaiRow == 0) {
                row.css("background-color", "white");
                row.find("td").css("color", "red");
            }
            
            var lcFlagCallView = $("#FlagCallView").val();
            if (lcFlagCallView == $("#EventFlag_ApprovalView").val()) {
                row.find(".btn-auth").hide();
                row.find(".btn-approval").show();
            }
            else if (lcButtonType == $("#EventFlag_AuthorizeView").val()) {
                row.find(".btn-approval").hide(); 
                row.find(".btn-auth").show();
            }
            var dSystemDateRow = dataItem.get("SystemDate");
            var dStartDateRow = dataItem.get("StartDate");
            if (dStartDateRow < dSystemDateRow) {
                row.css("background-color", "white");
                row.find("td").css("color", "red");
            }
        }

        var grid = e.sender;
        // Sự kiện chọn từng checkbox
        grid.tbody.find(".depProductCheckSelect")
            .off("change.depProduct")
            .on("change.depProduct", function (ev) {
                ev.stopPropagation();

                var $checkbox = $(this);
                var $row = $checkbox.closest("tr");

                $row.toggleClass("row-selected-custom", $checkbox.is(":checked"));

                updateSelectedRowIdUsers();
            });

        // Click vào row thì toggle checkbox
        grid.tbody.find("tr")
            .off("click.depProduct")
            .on("click.depProduct", function (ev) {
                if ($(ev.target).is("input:checkbox")) return;

                var $row = $(this);
                var $checkbox = $row.find(".depProductCheckSelect");

                if ($checkbox.length === 0 || $checkbox.is(":disabled")) return;

                $checkbox.prop("checked", !$checkbox.is(":checked"));
                $row.toggleClass("row-selected-custom", $checkbox.is(":checked"));

                updateSelectedRowIdUsers();
            });

        // Checkbox header chọn tất cả
        $("#chkSelectAllProducts")
            .off("change.depProduct")
            .on("change.depProduct", function (ev) {
                ev.stopPropagation();

                var isChecked = $(this).is(":checked");

                grid.tbody.find(".depProductCheckSelect").prop("checked", isChecked);
                grid.tbody.find("tr").toggleClass("row-selected-custom", isChecked);

                updateSelectedRowIdUsers();
            });

        // Đồng bộ lại giao diện sau databound
        grid.tbody.find("tr").each(function () {
            var $row = $(this);
            var isChecked = $row.find(".depProductCheckSelect").is(":checked");
            $row.toggleClass("row-selected-custom", isChecked);
        });

    }

    function updateSelectedRowIdUsers() {
        var grid = $("#gridMainIDCApproval").data("kendoGrid");
        var listItemChoice = [];

        grid.tbody.find(".depProductCheckSelect:checked").each(function () {
            var row = $(this).closest("tr");
            var dataItem = grid.dataItem(row);

            if (!dataItem) return;

            listItemChoice.push(dataItem.UserId);
        });

        if (listItemChoice.length === 0) {
            $("#idRowChoiceTmp").text("Tổng số yêu cầu: " + grid.dataSource.total());
        } else {
            $("#idRowChoiceTmp").text("Yêu cầu đã chọn: " + listItemChoice.join(", "));
        }

        var total = grid.tbody.find(".depProductCheckSelect").length;
        var checked = grid.tbody.find(".depProductCheckSelect:checked").length;

        $("#chkSelectAllProducts").prop("checked", total > 0 && total === checked);
    }

    var dataChange = false;
    function onCloseApprove() {
        if (dataChange == true) {
            refreshGridIDCApproval();
            dataChange = false;
        }
    }

    function doCompleteWindow() {
        mainWindowApproval.data("kendoWindow").close();
    }

    function Change_FunctionTypeApproval(e) {
        addListAttachfilesLink();
    }

    function submitForApprovalIDC(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var lcEventApprovalView = $("#EventFlag_ApprovalView").val();

        // var dSystemDateRow = dataItem.SystemDate;
        // var dStartDateRow = dataItem.StartDate;
        // if (dStartDateRow < dSystemDateRow) {
        //     alert("Yêu cầu [" + dataItem.FunctionTypeName + "] của tài khoản người dùng Intellect iDC [" + dataItem.UserId + "] có ngày bắt đầu [" + dataItem.StartDateText + "] nhỏ hơn ngày hiện thời của hệ thống [" + dataItem.SystemDateText + "], không thể thực hiện trình duyệt được. Vui lòng kiểm tra lại!");
        //     $('#EffectiveDate').focus();
        //     e.preventDefault();
        //     return false;
        // }
        openAuthorizeWindow(dataItem,lcEventApprovalView,"Trình duyệt thông tin người dùng IDC");
    }

    function submitForAuthorizeIDC(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var lcEventAuthorizeView = $("#EventFlag_AuthorizeView").val();
        // var dSystemDateRow = dataItem.SystemDate;
        // var dStartDateRow = dataItem.StartDate;
        // if (dStartDateRow < dSystemDateRow) {
        //     alert("Yêu cầu [" + dataItem.FunctionTypeName + "] của tài khoản người dùng Intellect iDC [" + dataItem.UserId + "] có ngày bắt đầu [" + dataItem.StartDateText + "] nhỏ hơn ngày hiện thời của hệ thống [" + dataItem.SystemDateText + "], không thể thực hiện trình duyệt được. Vui lòng kiểm tra lại!");
        //     $('#EffectiveDate').focus();
        //     e.preventDefault();
        //     return false;
        // }
        openAuthorizeWindow(dataItem,lcEventAuthorizeView,"Phê duyệt thông tin người dùng IDC");
    }

    function showDetailUserIDCForApprovalOrAuthorize(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var lcEventDetailView = $("#EventFlag_ViewView").val();
        // var dSystemDateRow = dataItem.SystemDate;
        // var dStartDateRow = dataItem.StartDate;
        // if (dStartDateRow < dSystemDateRow) {
        //     alert("Yêu cầu [" + dataItem.FunctionTypeName + "] của tài khoản người dùng Intellect iDC [" + dataItem.UserId + "] có ngày bắt đầu [" + dataItem.StartDateText + "] nhỏ hơn ngày hiện thời của hệ thống [" + dataItem.SystemDateText + "], không thể thực hiện trình duyệt được. Vui lòng kiểm tra lại!");
        //     $('#EffectiveDate').focus();
        //     e.preventDefault();
        //     return false;
        // }
        openAuthorizeWindow(dataItem,lcEventDetailView,"Xem chi tiết thông tin yêu cầu người dùng Intellect iDC");
    }
    

    function openAuthorizeWindow(dataItem, eventCodeView, windowTitle) {
        var wnd = mainWindowApproval.data("kendoWindow");
        if (!wnd) {
            mainWindowApproval.kendoWindow({
                width: "1024px",
                height: "700px",
                resizable: false,
                visible: false,
                modal: true,
                close: onCloseApprove,
                actions: ["Refresh", "Close"]
            });
            wnd = mainWindowApproval.data("kendoWindow");
        }
        // Xóa nội dung cũ trước
        wnd.content("");
        // Đổi title
        wnd.setOptions({
            title: windowTitle
        });
        var lcEventDetailView = $("#EventFlag_ViewView").val();
        var lcButtonType = "";
        var lcEventAuthorizeView = $("#EventFlag_AuthorizeView").val();
        if (eventCodeView==lcEventDetailView) {
            
            lcButtonType = eventCodeView;
            eventCodeView = lcEventAuthorizeView;
        }

        // Refresh lại với cache false
        wnd.refresh({
            url: '@Url.Action("ShowUpdateUserManagementIDC", "UserManagementIDC")',
            data: {
                pId: dataItem.Id,
                pPosCode: dataItem.PosCode,
                pUserId: dataItem.UserId,
                pFlagCall: eventCodeView,
                pButtonType: lcButtonType,
                _t: new Date().getTime()    // chống cache
            }
        });
        wnd.center().open();
    }

    function showAttachedFile(pDocumentId, pFileId, pFileNameNew) {
        var now = new Date();
        var win = window.open('../IntRateConfig/LoadPdfAttachedFile?pDocumentId=' + pDocumentId + '&' + 'pFileId=' + pFileId + '&' + 'pFileName=' + pFileNameNew + '&t=' + now.getTime(), '_blank');
        if (win) {
            win.focus();
        } else {
            alert('Please allow popups for this website');
        }
    }

    function add_download_link() {
        var lcDocumentId = $("#DocumentId").val();
        var lcFileType = "1";
        if (lcDocumentId != 0) {
            $.ajax({
                type: "GET",
                url: "../ListOfValue/GetListAttachedFileInfo_ForDocumentId?pDocumentId=" + lcDocumentId + '&' + 'pFileType=' + lcFileType,
                success: function (data) {
                    files = data;
                    if (files != null) {
                        $("#_no_file_attach_id").text("");
                        for (i = 0; i < files.length; i++) {
                            var thutu = i + 1;
                            html = '<a title="' + files[i].Description + '" href="#" onclick=showAttachedFile(' + lcDocumentId + ',' + files[i].FileId + ',"' + files[i].FileNameNew + '")' + '>' + ' [' + thutu + '] ' + "</a>&nbsp;";
                            $("#_no_file_attach_id").append(html);
                        }
                    }
                }
            });
        }
    }
    //Lưu lại các item đã chọn khi Show Form chi tiết Trình duyệt/Phê duyệt tạm
    var listApprovalData = []; // danh sách tổng
    function receiveDataFromChild(data) {
        //Tránh trùng theo Id
        var index = listApprovalData.findIndex(x => x.Id === data.Id);
        if (index !== -1) {
            // Nếu đã tồn tại thì update
            listApprovalData[index] = data;
        } else {
            // nếu chưa có thì thêm mới
            listApprovalData.push(data);
        }
        console.log("Danh sách hiện tại:", listApprovalData);
        // lưu vào hidden để submit sau
        $("#hiddenApprovalData").val(JSON.stringify(listApprovalData));
    }

    function addListAttachfilesLink() {
        var pMainPosCode = parseInt($("#MainPosCodeView").val(), 10) || 0;
        var pFunctionType = $("#FunctionTypeApproval_Find").data("kendoComboBox").value();
        $("#_no_file_attachId").text("");
        if (pMainPosCode != 0) {
            $.ajax({
                type: "GET",
                url: "../UserManagementIDC/GetListAttachFile_ForGroupFile?pDocumentId=" + pMainPosCode + '&' + 'pDocumentNumber=' + pFunctionType,
                success: function (data) {
                    files = data;
                    if (files != null) {
                        $("#_no_file_attachId").text("");
                        for (i = 0; i < files.length; i++) {
                            var thutu = i + 1;
                            html = '<a title="' + files[i].Description + '" href="#" ' +
                                    'onclick="showAttachtFileUserIDC(' + pMainPosCode + ',' + files[i].Id + ',\'' + files[i].FileNameNew + '\')">' +
                                    ' [' + thutu + '] </a>&nbsp;';
                            $("#_no_file_attachId").append(html);
                        }
                    }
                }
            });
        }
    }

    function showAttachtFileUserIDC(vanbanId, fileId, tenFileMoi) {
        var win = window.open('../UserManagementIDC/LoadPdfFile?pDocumentId=' + vanbanId + '&' + 'pFileId=' + fileId + '&' + 'pFileName=' + tenFileMoi, '_blank');
        if (win) {
            win.focus();
        } else {
            alert('Please allow popups for this website');
        }
    }

     function onSaveGridApprovalIDC(e) {
        if (e != null && e.response != null) {
            if (!e.response.Errors) {
                if (e.type == "create") {
                }
                else if (e.type == "update") {
                    alert("Xử lý yêu cầu thành công!");
                }
                else if (e.type == "read") {
                }
            }
            else {
                alert(e.response.Errors);
            }
        }
    }

    function error_handlerApprovalIDC(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
            console.error("Kendo Grid Error:", e.errors);  // Debug console để xem lỗi backend (F12)
        }
    }
</script>

@Html.Hidden("UserPosCodeView", TempData["UserPosCode"])
@Html.Hidden("UserNameView", TempData["UserName"])
@Html.Hidden("ButtonTypeView", TempData["ButtonType"])
@Html.Hidden("MainPosCodeView", TempData["MainPosCode"])
@Html.Hidden("UserGradeView", TempData["UserGrade"])
@Html.Hidden("FlagCallView", TempData["FlagCall"])
@Html.Hidden("EventFlag_ApprovalView", TempData["EventFlag_Approval"])
@Html.Hidden("EventFlag_AuthorizeView", TempData["EventFlag_Authorize"])
@Html.Hidden("EventFlag_ViewView", TempData["EventFlag_View"])

@Html.Hidden("EventFlag_RejectView", TempData["EventFlag_Reject"])
@Html.Hidden("SystemDateTextApprovalView", TempData["SystemDateText"])
@Html.Hidden("BusinessDateTextApprovalView", TempData["BusinessDateText"])

@Html.Hidden("FunctionTypeFlag_ADDNEW_USERView", TempData["FunctionTypeFlag_ADDNEW_USER"])
@Html.Hidden("FunctionTypeFlag_ResetPasswordView", TempData["FunctionTypeFlag_ResetPassword"])
@Html.Hidden("FunctionTypeFlag_ENABLE_USERView", TempData["FunctionTypeFlag_ENABLE_USER"])
@Html.Hidden("FunctionTypeFlag_DISABLE_USERView", TempData["FunctionTypeFlag_DISABLE_USER"])
@Html.Hidden("FunctionTypeFlag_MODIFY_USERView", TempData["FunctionTypeFlag_MODIFY_USER"])
@Html.Hidden("FunctionTypeFlag_CHANGE_POSView", TempData["FunctionTypeFlag_CHANGE_POS"])
@Html.Hidden("FunctionTypeFlag_CHANGE_ROLEView", TempData["FunctionTypeFlag_CHANGE_ROLE"])
@Html.Hidden("FunctionTypeFlag_DELETE_USERView", TempData["FunctionTypeFlag_DELETE_USER"])
<input type="hidden" id="hiddenApprovalData" name="ApprovalData" />
<div style="flex-grow: 1; display: flex; flex-direction: column; padding-left: 0px;padding-right: 0px;">
    <div class="row" style="color: navy; padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px;">

        <div class="col-md-12" style="padding-left: 0px;padding-right: 0px;">
            <label class="lbcontrol" style="color: navy;text-align:left;width:60px;padding-top:7px;padding-right:0px;padding-left:5px;font-family:Tahoma;font-size:12px;">Đơn vị</label>
            @(Html.Kendo().ComboBox().Name("MainPosCodeApproval_Find")
                .Filter(FilterType.Contains)
                .Placeholder("--- Đơn vị ---")
                .DataTextField("value")
                .DataValueField("id")
                .ClearButton(false)
                .DataSource(source => { source.Read(read => { read.Action("GetListBranchs", "ListOfValue").Data("paramLoadListBranchApprovalFind"); }).ServerFiltering(false); })
                .HtmlAttributes(new { style = "width: 230px;padding-top: 0px;padding-bottom: 0px;padding-top: 0px;padding-left: 3px;padding-right: 2px; !important;max-width: 100% !important;color: green;!important; class='form - control';" })
                .Suggest(true)
                .AutoBind(true)
                .SelectedIndex(0))
            <label class="lbcontrol" style="color: navy;text-align:center;width:85px;padding-top: 7px;">Nghiệp vụ</label>
            @(Html.Kendo().ComboBox().Name("FunctionTypeApproval_Find")
                .Filter(FilterType.Contains)
                .DataTextField("Description")
                .DataValueField("Code")
                .BindTo((List<ValueConstModel>)ViewBag.FunctionTypes)
                .Placeholder("Chọn nghiệp vụ yêu cầu")
                .HtmlAttributes(new { style = "width: 270px;padding-top: 0px;padding-bottom: 0px;padding-top: 0px;padding-left: 3px;padding-right: 2px;max-width: 100% !important;color: green;" })
                .Filter("contains")
                .Events(e => e.Change("Change_FunctionTypeApproval"))
                .SelectedIndex(0))
            <label class="lbcontrol" style="width: 90px; vertical-align: bottom;color: navy;text-align:center; padding-left:0px;padding-right:3px;padding-top:7px; ">Trạng thái</label>
            @(Html.Kendo().ComboBox().Name("StatusApproval_Find")
                .Filter(FilterType.Contains)
                .DataTextField("Text")
                .DataValueField("Value")
                .BindTo(new List<SelectListItem>() {
                    new SelectListItem() { Text = "Tất cả", Value = "-1" },
                    new SelectListItem() { Text = "Mở", Value = "1" },
                    new SelectListItem() { Text = "Đóng", Value = "0" }
                    })
                .Suggest(true)
                .AutoBind(true)
                .HtmlAttributes(new { style = "padding-left: 3px;width: 130px; color: blue;", })
                .SelectedIndex(0)
                )
            &nbsp;&nbsp;
            @(Html.Kendo().Button()
                .Name("btnSearchApproval")
                .Events(ev => ev.Click("onSearchApprovalTest"))
                .HtmlAttributes(new { type = "button", style = "font-weight:bold; width:100px; color: blue;padding-left: 0px; height: 25px;", title = "Tìm kiếm danh sách quyết định cấu hình lãi suất rút trước hạn TG CKH" })
                .ImageUrl(Url.Content("~/images/tim_kiem.png"))
                .Content(" Tìm kiếm "))
        </div>
    </div>

    <hr style='margin-top: 0.2em; margin-bottom: 0.4em; padding-top: 0px; background-color: #333; border-width: 0; color: #000000; height: 1px; line-height: 0; text-align: left; width: 100%; background-image: linear-gradient(to right, #ccc, #333, #ccc); ' />

    <div style="color: navy; padding-top: 0px; display:flex;" class="row">
        <div class="col-md-12">
            @(Html.Kendo().Grid<VBSPOSS.ViewModels.UserManagementIDCViewModel>()
                .Name("gridMainIDCApproval")
                .Events(e => e.DataBound("onRowBoundIDCApproval"))
                .Columns(columns =>
                {
                    columns.Template("<input type='checkbox' class='depProductCheckSelect' />").ClientHeaderTemplate("<input type='checkbox' id='chkSelectAllProducts' />")
                        .Title("")
                        .Width(50)
                        .HeaderHtmlAttributes(new { style = "text-align:center;" })
                        .HtmlAttributes(new { style = "text-align:center;" });
                    columns.Command(command =>
                    {
                        command.Custom("Approval").Text("<span style='color: blue;'></span>").Click("submitForApprovalIDC").HtmlAttributes(new
                        {
                            style = "width: 20px !important; display: inline-block; vertical-align: middle;",
                            title = "Trình duyệt yêu cầu người dùng IDC",
                            @class = "btn-approval"
                        });
                        command.Custom("Authorize").Text("<span style='color: blue;'></span>").Click("submitForAuthorizeIDC").HtmlAttributes(new
                        {
                            style = "width: 20px !important; display: inline-block; vertical-align: middle;",
                            title = "Phê duyệt yêu cầu người dùng IDC",
                            @class = "btn-auth"
                        });
                        command.Custom("View").Text("<span style='color: blue;'></span>").Click("showDetailUserIDCForApprovalOrAuthorize").HtmlAttributes(new
                        {
                            style = "width: 20px !important; display: inline-block; vertical-align: middle;",
                            title = "Xem chi tiết thông tin yêu cầu thêm mới/thay đổi thông tin người dùng Intellect iDC",
                            @class = "btn-view"
                        });
                    }).Width(100).Title("Chức năng").HtmlAttributes(new { style = "text-align: center;" });
                    columns.Bound(c => c.OrderNo).Title("STT").Width(40).HtmlAttributes(new { style = "text-align: center;" });
                    columns.Bound(c => c.FunctionTypeName).Title("Nghiệp vụ").Width(120).HtmlAttributes(new { style = "text-align: left;" });
                    columns.Bound(c => c.PosName).Title("Đơn vị").Width(180).HtmlAttributes(new { style = "text-align: left;" });
                    columns.Bound(c => c.UserId).Title("Tài khoản").Width(70).HtmlAttributes(new { style = "text-align: center;" });
                    columns.Bound(c => c.FullName).Title("Họ tên").Width(120).HtmlAttributes(new { style = "text-align: left;" });
                    columns.Bound(c => c.GroupNameText).Title("Nhóm quyền").HtmlAttributes(new { style = "text-align: left;" });
                    columns.Bound(c => c.GroupName).Hidden();
                    columns.Bound(c => c.StartDate).Title("Ngày bắt đầu").Format("{0:dd/MM/yyyy}").Width(83).HtmlAttributes(new { style = "text-align: center;" });
                    columns.Bound(c => c.StartDateText).Hidden();
                    columns.Bound(c => c.StatusText).Title("Trạng thái").Width(70).HtmlAttributes(new { style = "text-align: center;" });
                    columns.Bound(c => c.Id).Hidden();
                    columns.Bound(c => c.PosCode).Hidden();
                    columns.Bound(c => c.StaffId).Hidden(); ;
                    columns.Bound(c => c.StaffCode).Hidden();
                    columns.Bound(c => c.NickName).Hidden();
                    columns.Bound(c => c.FirstName).Hidden();
                    columns.Bound(c => c.LastName).Hidden();
                    columns.Bound(c => c.EmailAddress).Hidden();
                    columns.Bound(c => c.EntityList).Hidden();
                    columns.Bound(c => c.AuthType).Hidden();
                    columns.Bound(c => c.UserType).Hidden();
                    columns.Bound(c => c.MailIdFlag).Hidden();
                    columns.Bound(c => c.AuthsecType).Hidden();
                    columns.Bound(c => c.ExtraAttributeUserRole).Hidden();
                    columns.Bound(c => c.ExtraAttributeBranchCode).Hidden();
                    columns.Bound(c => c.Remark).Hidden();
                    columns.Bound(c => c.OrtherNotes).Hidden();
                    columns.Bound(c => c.Status).Hidden();
                    columns.Bound(c => c.CreatedBy).Hidden();
                    columns.Bound(c => c.CreatedDate).Hidden();
                    columns.Bound(c => c.ModifiedBy).Hidden();
                    columns.Bound(c => c.ModifiedDate).Hidden();
                    columns.Bound(c => c.ApproverBy).Hidden();
                    columns.Bound(c => c.ApprovalDate).Hidden();
                    columns.Bound(c => c.DateOfBirth).Hidden();
                    columns.Bound(c => c.MobileNumber).Hidden();
                    columns.Bound(c => c.EffectiveDate).Hidden();
                    columns.Bound(c => c.ExpiryDate).Hidden();
                    columns.Bound(c => c.SystemDate).Hidden();
                    columns.Bound(c => c.SystemDateText).Hidden();
                    columns.Bound(c => c.BusinessDate).Hidden();
                    columns.Bound(c => c.BusinessDateText).Hidden();
                })
                .HtmlAttributes(new { style = "height: 470px;color: navy; border: 1px solid #ddd;" })
                .ToolBar(toolbar =>
                {
                    toolbar.Custom().Text("In tờ trình").HtmlAttributes(new {id = "btnPrintToTrinh",style = "height: 25px;width: 120px; font-weight:bold; color: blue;font-family:Tahoma; font-size: 12px;",title = "In tờ trình"});
                    toolbar.Excel().HtmlAttributes(new { id = "btnExportExcel", style = "height: 25px;width: 110px; font-weight:bold; color: blue;font-family:Tahoma; font-size: 12px;font-weight:bold;!important;", title = "Xuất dữ liệu trên lưới ra file excel" }).Text("Xuất excel");
                })
                .Excel(excel => excel.FileName("Danh sach trinh duyet hoac phe duyet nguoi dung IDC.xlsx").AllPages(true))
                .Editable(editable => { editable.Mode(GridEditMode.InLine); })
                .Sortable()
                .Scrollable()
                .Pageable(pageable => pageable.Refresh(true).ButtonCount(5))
                .DataSource(dataSource => dataSource
                .Ajax()
                .Batch(false)
                .ServerOperation(false)
                .Model(model => model.Id(p => p.Id))
                .Events(e => e.RequestEnd("onSaveGridApprovalIDC").Error("error_handlerApprovalIDC"))
                .Read(read => read.Action("LoadGridData_UserIDCManagement", "UserManagementIDC").Data("paramLoadGridDataApproval"))
                .PageSize(100))
                .Resizable(resize => resize.Columns(true))
                .AutoBind(true)
            )
        </div>
    </div>
    <div id="idRowChoiceTmp" style="margin-top:2px; font-weight:bold;"></div>

    <hr style='margin-top: 0.3em; margin-bottom: 0.3em; padding-top: 0px; background-color: #333; border-width: 0; color: blueviolet; height: 1px; line-height: 0; text-align: center; width: 100%; background-image: linear-gradient(to right, #ccc, #333, #ccc); ' />
   
    @* <div id="divUploadFile" class="row" style="padding-top: 5px;">

        <!-- BÊN TRÁI -->
        <div class="col-md-10 d-flex align-items-center">

            <!-- input file ẩn -->
            <input type="file"
                   id="fileUpload"
                   name="fileUpload"
                   hidden
                   accept="application/pdf" multiple />

            <!-- nút chọn file -->
            <button type="button"
                    class="btn btn-primary"
                    id="btnChooseFile">
                Chọn file
            </button>

            <!-- tên file -->
            <span id="fileName"
                  style="margin-left:10px; font-style: italic;color:red;">
                Chưa chọn file
            </span>

            <!-- nút xem -->
            <button type="button"
                    class="btn btn-info btn-sm"
                    id="btnViewFile"
                    style="display:none; margin-left:10px;">
                👁
            </button>

            <!-- nút xóa -->
            <button type="button"
                    class="btn btn-danger btn-sm"
                    id="btnRemoveFile"
                    style="display:none; margin-left:5px;">
                ✖
            </button>
        </div>

        <!-- BÊN PHẢI -->
        <div class="col-md-2 text-right">
            @(Html.Kendo().Button()
                .Name("btnApprovalAll")
                .HtmlAttributes(new
                {
                    type = "button",
                    style = "font-weight:bold; width:135px; color: blue; height: 25px;",
                    title = "Trình duyệt/Phê duyệt người dùng IDC"
                })
                .ImageUrl(Url.Content("~/images/note_add.png"))
                .Content("Lưu trình duyệt &nbsp;"))
        </div>

    </div> *@

    <div id="divUploadFile" class="row" style="padding-top: 2px;">

        <!-- BÊN TRÁI -->
        <div class="col-md-10">

            <!-- input file -->
            <input type="file"
                   id="fileUpload"
                   name="fileUpload"
                   hidden
                   accept="application/pdf"
                   multiple />

            <!-- nút chọn file -->
            <button type="button"
                    class="btn btn-primary"
                    id="btnChooseFile">
                Chọn file
            </button>

            <!-- danh sách file -->
            <div id="fileList" style="margin-top:0px;padding-top: 1px;padding-bottom: 1px;"></div>
        </div>

        <!-- BÊN PHẢI -->
        <div class="col-md-2 text-right">

            @(Html.Kendo().Button()
                        .Name("btnApprovalAll")
                        .HtmlAttributes(new
                        {
                            type = "button",
                            style = "font-weight:bold; width:135px; color: blue; height: 25px;",
                            title = "Trình duyệt/Phê duyệt người dùng IDC"
                        })
                        .ImageUrl(Url.Content("~/images/note_add.png"))
                        .Content("Lưu trình duyệt &nbsp;"))

        </div>

    </div>

    <div id="divFileAttached"  class="row" style="padding-top: 5px;">
        <div class="col-md-10 d-flex align-items-center">
            <span class="lbcontrol" style="text-align: right; color: navy;width:95px;padding-right:5px;font-weight:bold;">File đính kèm</span>
            <div class="control-label" style="font-weight: bold; text-align: left; padding-top: 4px;padding-left: 8px;color:navy;" id="_attachfileIdQDKT"><span style="color:red;"></span><span id="_no_file_attachId"></span> </div>
        </div>
        <div class="col-md-2 text-right">
            @(Html.Kendo().Button().Name("btnAuthorizeAll").HtmlAttributes(new { type = "button", style = "font-weight:bold; width:135px; color: blue; height: 25px;", title = "Trình duyệt/Phê duyệt người dùng IDC" }).ImageUrl(Url.Content("~/images/note_add.png")).Content("Lưu phê duyệt &nbsp;"))
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#gridMainIDCApproval .k-grid-excel").after("<label id='lbl_spaceApprove' style='padding-top:5px;padding-left: 10px;width:70%; font-size: 11px; font-weight: bold; color: blue;text-align:center;line-height: 25px;'>DANH SÁCH THÔNG TIN NGƯỜI DÙNG IDC ĐỀ NGHỊ THAY ĐỔI</label>");
        var lcFlagCallView = $("#FlagCallView").val();
        
        if (lcFlagCallView == $("#EventFlag_AuthorizeView").val()) {
            $("#btnPrintToTrinh").hide();
            $("#divUploadFile").hide();
            $("#divFileAttached").show();
            addListAttachfilesLink();
        }
        else if(lcFlagCallView == $("#EventFlag_ApprovalView").val()){
            $("#divFileAttached").hide();
            $("#divUploadFile").show();
        }


    //            $("#btnChooseFile").click(function () {

    //     $("#fileUpload").click();

    // });

    // $("#fileUpload").on("change", function () {

    //     if (!this.files || this.files.length === 0) {

    //         resetFile();

    //         return;
    //     }

    //     var file = this.files[0];

    //     var fileName = file.name.toLowerCase();

    //     // chỉ cho phép PDF
    //     if (!fileName.endsWith(".pdf")) {

    //         alert("Chỉ cho phép upload file PDF");

    //         resetFile();

    //         return;
    //     }

    //     // hiển thị tên file
    //     $("#fileName").text(file.name);

    //     // hiện button
    //     $("#btnRemoveFile").show();

    //     $("#btnViewFile").show();

    //     // tạo url preview
    //     currentPdfUrl = URL.createObjectURL(file);

    //     // mở preview luôn
    //     openPdfPreview();
    // });

    // // nút xem chi tiết
    // $("#btnViewFile").click(function () {

    //     openPdfPreview();

    // });

    // // nút xóa
    // $("#btnRemoveFile").click(function () {

    //     resetFile();

    // });

    // function openPdfPreview() {

    //     if (!currentPdfUrl) {

    //         return;
    //     }

    //     window.open(
    //         currentPdfUrl,
    //         "_blank",
    //         "width=1200,height=800"
    //     );
    // }

    // function resetFile() {

    //     $("#fileUpload").val("");

    //     $("#fileName").text("Chưa chọn file");

    //     $("#btnRemoveFile").hide();

    //     $("#btnViewFile").hide();

    //     currentPdfUrl = null;
    // }

        // $("#btnChooseFile").click(function () {
        //     $("#fileUpload").click();
        // });
        // $("#fileUpload").on("change", function () {
        //     if (this.files && this.files.length > 0) {
        //         $("#fileName").text(this.files[0].name);
        //         $("#btnRemoveFile").show();
        //     } else {
        //         resetFile();
        //     }
        // });
        
        // // Click nút xóa
        // $("#btnRemoveFile").click(function () {
        //     resetFile();
        // });
        // function resetFile() {
        //     $("#fileUpload").val("");   // xóa file
        //     $("#fileName").text("Chưa chọn file");
        //     $("#btnRemoveFile").hide();
        // }

        // $("#fileUpload").on("change", function () {
        //     if (!this.files || this.files.length === 0) return;

        //     var file = this.files[0];
        //     var fileName = file.name.toLowerCase();

        //     if (!fileName.endsWith(".pdf")) {
        //         alert("Chỉ cho phép upload file PDF");
        //         resetFile();
        //         return;
        //     }
        //     $("#fileName").text(file.name);
        //     $("#btnRemoveFile").show();
        // });

        var cboMainPosCodeApprovalFind = $("#MainPosCodeApproval_Find").data("kendoComboBox");
        var lcMainPosCodeView = $("#MainPosCodeView").val();
        if (lcMainPosCodeView) {
            cboMainPosCodeApprovalFind.value(lcMainPosCodeView);
            // Trigger change để đồng bộ PosName nếu cần
            cboMainPosCodeApprovalFind.trigger("change");
        }
    });

    //Hàm thực hiện gọi In tờ trình
    $("#btnPrintToTrinh").click(function () {     
        if (listApprovalData.length === 0) {
            alert("Bạn chưa chọn danh sách yêu cầu về tài khoản người dùng Intellect iDC. Vui lòng chọn trình duyệt/Phê duyệt!");
            return;
        }
        var listPrintData = listApprovalData.filter(function(item) {
            return Number(item.Status) === 1 || Number(item.Status) === 5 || Number(item.Status) === 2;
        });

        if (listPrintData.length === 0) {
            alert("Chưa có dữ liệu thông tin trình duyệt/phê duyệt người dùng IDC. Vui lòng trình duyệt/Phê duyệt!");
            return;
        }

        var lcListId = listPrintData.map(x => x.Id).join(',');
        var lcMainPosName = $("#MainPosCodeApproval_Find").data("kendoComboBox").text();
        lcMainPosName = lcMainPosName.replace("Hội sở CN ", "Chi nhánh NHCSXH ");
        var lcFunctionType = $("#FunctionTypeApproval_Find").data("kendoComboBox").value();
        $.ajax({
            url: '@Url.Action("GenerateFileReport_UserIDC", "Report")',
            type: 'POST',
            data: { pId: lcListId, pMainPosName: lcMainPosName, pFunctionType: lcFunctionType },
            xhrFields: {
                responseType: 'blob'   // BẮT BUỘC
            },
            success: function (data, status, xhr) {

                var fileName = "To_Trinh_" + $("#PosCode").val() + "_" + $("#UserNameView").val() + ".pdf";
                var disposition = xhr.getResponseHeader("Content-Disposition");

                if (disposition) {
                    // Ưu tiên filename*=UTF-8''
                    var utf8Match = disposition.match(/filename\*\=UTF-8''(.+)/);
                    if (utf8Match && utf8Match.length > 1) {
                        fileName = decodeURIComponent(utf8Match[1]);
                    }
                    else {
                        // fallback filename=
                        var asciiMatch = disposition.match(/filename="?([^";]+)"?/);
                        if (asciiMatch && asciiMatch.length > 1) {
                            fileName = asciiMatch[1];
                        }
                    }
                }

                var blob = new Blob([data], {
                    type: xhr.getResponseHeader("Content-Type") || "application/octet-stream"
                });

                var url = window.URL.createObjectURL(blob);
                var link = document.createElement("a");
                link.href = url;
                link.download = fileName;
                document.body.appendChild(link);
                link.click();

                window.URL.revokeObjectURL(url);
                link.remove();
            },
            error: function () {
                alert("Không tải được file tờ trình cấu hình lãi suất rút trước hạn sản phẩm tiền gửi có kỳ hạn. Vui lòng kiểm tra lại!");
            }
        });
    });
    
    //Lưu thông tin Trinh duyệt hoặc Phê duyệt với yêu cầu người dùng
    $("#btnApprovalAll, #btnAuthorizeAll").click(function () {
        var listUserIdChoiceApprovalTmp = [];

        var grid = $("#gridMainIDCApproval").data("kendoGrid");
        grid.tbody.find(".depProductCheckSelect:checked").each(function () {
            var row = $(this).closest("tr");
            var dataItem = grid.dataItem(row);

            if (!dataItem) return;
            var dataTempRow = {
                    Id: dataItem.Id,
                    UserId: dataItem.UserId,
                    Status: dataItem.Status
                };
            listUserIdChoiceApprovalTmp.push(dataTempRow);
        });
            

        
        if (listUserIdChoiceApprovalTmp.length === 0) {
            alert("Bạn chưa chọn danh sách yêu cầu để lưu thông tin trình duyệt/phê duyệt người dùng IDC. Vui chọn trình duyệt/phê duyệt!");
            return;
        }
        
        var lcFlagCallView = $("#FlagCallView").val();
        var lcSystemDateTextView = $("#SystemDateTextApprovalView").val();
        var lcBusinessDateTextView = $("#BusinessDateTextApprovalView").val();
        var functionType = $("#FunctionTypeApproval_Find").data("kendoComboBox").value();        
        var requireFileTypes = [$("#FunctionTypeFlag_ADDNEW_USERView").val(), $("#FunctionTypeFlag_DELETE_USERView").val(), $("#FunctionTypeFlag_CHANGE_POSView").val(), $("#FunctionTypeFlag_DISABLE_USERView").val(), $("#FunctionTypeFlag_ENABLE_USERView").val(), $("#FunctionTypeFlag_MODIFY_USERView").val(), $("#FunctionTypeFlag_CHANGE_ROLEView").val()];
    
        var lcFunctionTypeNameChoice = $("#FunctionTypeApproval_Find").data("kendoComboBox").text();

        var fileInput = $("#fileUpload")[0];
        alert(uploadedFiles.length );
        //var fileUploadUserIDC = fileInput.files.length > 0 ? fileInput.files[0] : null;
        var fileUploadUserIDC = uploadedFiles.length > 0 ? uploadedFiles : [];
        //Chỉ có cấp lại mật khẩu là không có tờ trình
        if (requireFileTypes.includes(functionType) && lcFlagCallView == $("#EventFlag_ApprovalView").val()) {
            if (!fileUploadUserIDC || fileUploadUserIDC.length == 0) {
                alert("Yêu cầu [" + lcFunctionTypeNameChoice + "] với tài khoản người dùng cầu phải đính kèm tờ trình (dạng file PDF). Vui lòng đính kèm tờ trình!");
                return;
            }
            // if (!fileUploadUserIDC.name.toLowerCase().endsWith(".pdf")) {
            //     alert("Tờ trình đính kèm yêu cầu [" + lcFunctionTypeNameChoice + "] của tài khoản người dùng không phải là file PDF. Vui lòng kiểm tra lại!");
            //     return;
            // }
        }
        var cboFunctionTypeChoice = $("#FunctionTypeApproval_Find").data("kendoComboBox");
        var cboMainPosCodeChoice = $("#MainPosCodeApproval_Find").data("kendoComboBox");
        //Tạo FormData
        var formData = new FormData();
        // append list data
        formData.append("pFlagCall", lcFlagCallView);
        formData.append("pListApprovalData", JSON.stringify(listUserIdChoiceApprovalTmp));
        formData.append("pFunctionType", cboFunctionTypeChoice.value());
        formData.append("pMainPosCode", cboMainPosCodeChoice.value());
        formData.append("pPosCode", cboMainPosCodeChoice.value());
        formData.append("pSystemDate", lcSystemDateTextView);
        formData.append("pBusinessDate", lcBusinessDateTextView);
        var iCountUserdChoice = listUserIdChoiceApprovalTmp.length.toString();
        // append file
        if (fileUploadUserIDC) {
            //formData.append("pFileUpload", fileUploadUserIDC);
            // Append nhiều file (quan trọng)
            alert(fileUploadUserIDC.length);
            for (let i = 0; i < fileUploadUserIDC.length; i++) {
                formData.append("pFileUpload", fileUploadUserIDC[i].file);   // Backend nhận nhiều file cùng tên
            }
        }

        $.ajax({
            url: "/UserManagementIDC/SaveUpdateApprovalOrAuthorize",
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: function (resultSaveUpdate) {
                if (resultSaveUpdate === "0" && lcFlagCallView == $("#EventFlag_ApprovalView").val()) {
                    alert("Bạn đã trình duyệt thành công danh sách " + iCountUserdChoice + " yêu cầu [" + lcFunctionTypeNameChoice + "] tài khoản người dùng đã chọn!");
                    dataChange = false;
                    refreshGridIDCApproval();
                } else if (resultSaveUpdate === "0" && lcFlagCallView == $("#EventFlag_AuthorizeView").val()) {
                    alert("Bạn đã phê duyệt thành công danh sách " + iCountUserdChoice + " yêu cầu [" + lcFunctionTypeNameChoice + "] tài khoản người dùng đã chọn!");
                    dataChange = false;
                    refreshGridIDCApproval();
                }
                else if (resultSaveUpdate === "-1") {
                    alert("Lỗi khi lưu dữ liệu người dùng IDC");
                } 
                else if (resultSaveUpdate === "-2") {
                    alert("Thực hiện gọi API không thành công: Thay đổi tài khoản người dùng thất bại");
                } 
                else if (resultSaveUpdate == "5") {
                    alert("Thực hiện cập nhật thay đổi quyền tiền mặt không thành công. Vui lòng thực hiện lại!");
                } 
                else if (resultSaveUpdate == "6") {
                    alert("Người dùng này có mở sổ tiền mặt đầu ngày, không được phép sửa đổi. Vui lòng liên hệ quản trị viên!");
                } 
                else if (resultSaveUpdate == "9") {
                        alert("Người dùng này đang bị khóa, không thể thực hiện chức năng này. Vui lòng kiểm tra lại!");
                } 
                else {
                    alert("Có lỗi xảy ra!");
                }
            },
            error: function (xhr) {
                console.error(xhr.responseText);
                alert("Lỗi hệ thống!");
            }
        });
    });



    $("#btnChooseFile").click(function () {

        $("#fileUpload").click();

    });

    $("#fileUpload").on("change", function () {

        if (!this.files || this.files.length === 0) {

            return;
        }

        for (let i = 0; i < this.files.length; i++) {

            let file = this.files[i];

            let fileName = file.name.toLowerCase();

            // check pdf
            if (!fileName.endsWith(".pdf")) {

                alert("File " + file.name + " không phải PDF");

                continue;
            }

            // tránh add trùng
            let exists = uploadedFiles.some(x => x.name === file.name);

            if (exists) {
                continue;
            }

            let fileUrl = URL.createObjectURL(file);

            uploadedFiles.push({
                name: file.name,
                url: fileUrl,
                file: file
            });

            renderFileItem(file.name, fileUrl);
        }

        // reset input để chọn lại được file cũ
        $("#fileUpload").val("");
    });

    function renderFileItem(fileName, fileUrl) {

        let html =
            `
            <div class="file-item"
                 data-file="${fileName}"
                 style="margin-top:0px;
                        border:1px solid #ddd;
                        padding:1px 1px;
                        border-radius:1px;
                        display:flex;
                        align-items:center;
                        justify-content:space-between;">

                <span style="color:maroon;">
                    ${fileName}
                </span>

                <div>

                    <button type="button"
                            class="btn btn-info btn-sm btn-view-file"
                            data-url="${fileUrl}">
                        👁
                    </button>

                    <button type="button"
                            class="btn btn-danger btn-sm btn-remove-file"
                            data-file="${fileName}">
                        ✖
                    </button>

                </div>

            </div>
            `;

        $("#fileList").append(html);
    }

    // xem file
    $(document).on("click", ".btn-view-file", function () {
        let url = $(this).data("url");
        window.open (url, "_blank", "width=1200,height=800");
    });

    // xóa file
    $(document).on("click", ".btn-remove-file", function () {

        let fileName = $(this).data("file");

        uploadedFiles = uploadedFiles.filter(x => x.name !== fileName);

        $('.file-item[data-file="' + fileName + '"]').remove();
    });
</script>