@using Kendo.Mvc

@{
    ViewData["Title"] = "CẤU HÌNH THÔNG TIN NGƯỜI DÙNG IDC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="myPopup"></div>

<style>
    #gridMainIDC div a, table tr, td {
        font-size: 12px;
    }

    .btn-view-edit,
    .btn-delete {
        padding: 0 2px !important;
        min-width: 20px !important;
    }

    #gridMainIDC .k-grid td {
        border-right: 1px solid #ddd !important;
    }

    #gridMainIDC .k-grid-header th {
        border-right: 1px solid #ddd !important;
    }

    .k-grid-header .k-header > .k-link {
        font-family: Tahoma !important;
        font-weight: bold !important;
        color: navy;
    }

    .k-grid th, .k-grid td {
        font-family: tahoma;
        color: navy;
    }

    red {
        color: red;
    }

    green {
        color: green;
    }

    .style0 {
        font-weight: bold;
        color: blueviolet;
    }

    .style1 {
        font-weight: bold;
        color: blueviolet;
    }

    .style2 {
        font-style: italic;
    }

    .style3 {
    }

    .style4 {
        font-weight: bold;
        font-style: italic;
    }

    .style5 {
        text-decoration: underline;
    }

    .k-dropdown .k-dropdown-wrap {
        height: 21px;
    }

    .k-grid .btn-view.k-button {
        background: url('../images/icon_view.png') no-repeat center center;
        background-size: 15px 15px;
        width: 15px;
        height: 15px;
        border: none;
    }

    .k-grid .btn-view-edit.k-button {
        background: url('../images/icon_edit.png') no-repeat center center;
        background-size: 15px 15px;
        width: 15px;
        height: 15px;
        border: none;
    }

    .k-grid .btn-delete.k-button {
        background: url('../images/icon_delete.png') no-repeat center center;
        background-size: 15px 15px;
        width: 15px;
        height: 15px;
        border: none;
    }

    .k-grid .btn-auth-main.k-button {
        background: url('../images/icon_auth.png') no-repeat center center;
        background-size: 15px 15px;
        width: 15px;
        height: 15px;
        border: none;
    }

    .k-grid .btn-approval-main.k-button {
        background: url('../images/icon_approval.png') no-repeat center center;
        background-size: 15px 15px;
        width: 15px;
        height: 15px;
        border: none;
    }

</style>
<script>
    var mainWindow = $("#myPopup");
</script>

<script>

    function paramLoadListBranchFind() {
        return {
            pFlagCondi: "5",
            pStatus: "O",
            pShortName: "1",
            pTitleChoice: "",
            pFlagTextShow: "1",
            pUserPosCode: "",
            pUserName: "",
            pFlagWholeBank: 1
        };
    }
    function paramLoadListStaffFind() {
        return {
            pPosCode: $("#MainPosCode_Find").val(),
            pTitleChoice: "",
            pFlagTextShow: "2"
        };
    }

    function paramLoadGridData() {
        return {
            pPosCode: $("#MainPosCode_Find").val(),
            pFromEffectiveDate: $("#EffectDate_Find").val(),
            pToEffectiveDate: $("#ExpiryDate_Find").val()
        };
    }

    function refreshGridIDC() {
        var grid = $("#gridMainIDC").data("kendoGrid");
        if (grid != null) {
            grid.dataSource.read();
        }
    }

    function onSearchTidePenalRate(e) {
        refreshGridIDC();
    }

    function onRowBoundIDC(e) {
        var rows = e.sender.tbody.children();
        var isRed = true;
        for (var j = 0; j < rows.length; j++) {
            var row = $(rows[j]);
            var dataItem = e.sender.dataItem(row);
            var trangthaiRow = dataItem.get("Status");

            var lcUserView = $("#UserPosCodeView").val();
                if (lcUserView != "000196" && lcUserView != "000100") {
                    row.find(".btn-auth-main").hide();
                    row.find(".btn-approval-main").show();
                }
                else {
                    row.find(".btn-approval-main").show();
                    row.find(".btn-auth-main").show();
                }
            // if (trangthaiRow == "C" || trangthaiRow == null || trangthaiRow == 0)
            // {
            //     row.css("background-color", "white");
            //     row.find("td").css("color", "red");
            // }
        }
    }

    var dataChange = false;

    function onClose() {
        //location.reload();
        var wndApproval = mainWindowApproval.data("kendoWindow");
        if (wndApproval) {
            wndApproval.content("");
            wndApproval.destroy();
        }
        refreshGridIDC();
    }

    function doCompleteWindow() {
        mainWindow.data("kendoWindow").close();
    }

    function deleteItem(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var sMessInfor = "[" + dataItem.StaffName + " - " + dataItem.StaffPositionName + "]";
        if (dataItem.Status === 0) {
            alert("Thành viên " + sMessInfor + " đã được đánh dấu xóa rồi. Không thực hiện đánh dấu xóa lại!");
        }
        else {
            var isConfirm = confirm("Bạn có chắc chắn muốn đánh dấu xóa dữ liệu thông tin thành viên " + sMessInfor + " không?");
            if (isConfirm == true) {
                $.ajax({
                    data: { pStaffId: dataItem.StaffId,pEffectDate: formatDDMMYYYY(dataItem.EffectDate),pExpireDate: formatDDMMYYYY(dataItem.ExpireDate),pStatus: 1},
                    type: "POST",
                    url: "../PosRepresentative/DeleteMarkPosRepresentative",
                    success: function (resultVal) {
                        if (resultVal == "1") {
                            alert("Bạn đã xóa thành công thông tin thành viên " + sMessInfor + "!");
                            refreshGridIDC();
                        }
                        else alert("Đánh dấu xóa thông tin thành viên " + sMessInfor + " thất bại!");
                    },
                    error: function () {
                        alert(" dấu xóa thông tin thành viên " + sMessInfor + " có lỗi!");
                    }
                });

            } else {
                alert("Thao tác bị hủy bỏ!");
            }
        }
    }

    function Change_PosCode(e) {
    }


    function formatDDMMYYYY(date) {
        if (!date) return null;

        const d = new Date(date);
        const day = String(d.getDate()).padStart(2, '0');
        const month = String(d.getMonth() + 1).padStart(2, '0');
        const year = d.getFullYear();

        return `${day}/${month}/${year}`;
    }

    function showEdit(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var sMessInfor = "Người dùng [" + dataItem.UserId + "]";
        if (dataItem.Status.toString() == "0") {
            alert(sMessInfor + " đã được đánh dấu xóa nên không thể chỉnh sửa. Vui lòng kiểm tra lại!");
        }
        else if (dataItem.Status.toString() == "3") {
            alert(sMessInfor + " đã được phê duyệt nên không thể chỉnh sửa. Vui lòng kiểm tra lại!");
        }
        else if (dataItem.Status.toString() == "4") {
            alert(sMessInfor + " đã được từ chối nên không thể chỉnh sửa. Vui lòng kiểm tra lại!");
        }
        else
        {
            var sFlagCall = $("#EventFlag_EditTemp").val();
            mainWindow.kendoWindow({
                width: "1024px",
                height: "500px",
                title: "Chỉnh sửa thông tin người dùng IDC",
                content: {
                    url: '@Url.Action("ShowApprovalUserIDC", "UserManagementIDC")',
                    data: { pPosCode: dataItem.MaDonVi, pUserId: "", pFlagCall: "2" }
                },
                resizable: false,
                visible: false,
                modal: true,
                close: onClose,
                actions: ["Refresh", "Close"]
            });
            mainWindow.data("kendoWindow").wrapper.css({ height: 500, width: 1024 });
            mainWindow.data("kendoWindow").center().open().title("Chỉnh sửa thông tin người dùng IDC");
        }
    }

    // function submitForApproval(e) {
    //     e.preventDefault();
    //     var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
    //     var sMessInfor = "[" + dataItem.CircularRefNum + "]";
    //     var grid = $("#gridMainTidePanelRate").data("kendoGrid");
    //     if (mainWindow.data("kendoWindow")) {
    //         mainWindow.data("kendoWindow").destroy();
    //     }
    //     var sFlagCall = $("#EventFlag_ApprovalTemp").val();
    //     mainWindow.kendoWindow({
    //         width: "1050px",
    //         height: "550px",
    //         title: "Trình duyệt thay đổi thông tin người dùng IDC",
    //         content: {
    //             url: '@Url.Action("ShowApprovalUserIDC", "UserManagementIDC")',
    //             data: { pPosCode: dataItem.MaDonVi, pUserId: "", pFlagCall: "2", pButtonType : "8" }
    //         },
    //         resizable: false,
    //         visible: false,
    //         modal: true,
    //         close: onClose,
    //         actions: ["Refresh", "Close"],
    //         error: function (e) {
    //             notification.show({
    //                 message: "Có lỗi xảy ra: " + e.xhr.statusText,
    //                 type: "error"
    //             }, "error");
    //             mainWindow.data("kendoWindow").close();
    //         }
    //     });
    //     mainWindow.data("kendoWindow").center().open();
    // }

    // function submitForAuthorize(e) {
    //     e.preventDefault();
    //     var userPosCode = $("#UserPosCodeView").val();
    //     if (userPosCode !== "000196" && userPosCode !== "000100") {
    //         alert("Bạn không có quyền phê duyệt!");
    //         return;
    //     }
    //     var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
    //     var sMessInfor = "[" + dataItem.CircularRefNum + "]";
    //     var grid = $("#gridMainTidePanelRate").data("kendoGrid");
    //     if (mainWindow.data("kendoWindow")) {
    //         mainWindow.data("kendoWindow").destroy();
    //     }
    //     var sFlagCall = $("#EventFlag_ApprovalTemp").val();
    //     mainWindow.kendoWindow({
    //         width: "1050px",
    //         height: "550px",
    //         title: "Phê duyệt thay đổi thông tin người dùng IDC",
    //         content: {
    //             url: '@Url.Action("ShowApprovalUserIDC", "UserManagementIDC")',
    //             data: { pPosCode: dataItem.MaDonVi, pUserId: "", pFlagCall: "2", pButtonType : "9" }
    //         },
    //         resizable: false,
    //         visible: false,
    //         modal: true,
    //         close: onClose,
    //         actions: ["Refresh", "Close"],
    //         error: function (e) {
    //             notification.show({
    //                 message: "Có lỗi xảy ra: " + e.xhr.statusText,
    //                 type: "error"
    //             }, "error");
    //             mainWindow.data("kendoWindow").close();
    //         }
    //     });
    //     mainWindow.data("kendoWindow").center().open();
    // }

    function showDetailApprove(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        if (mainWindow.data("kendoWindow")) {
            mainWindow.data("kendoWindow").destroy();
        }
        var sFlagCall = $("#EventFlag_ViewTemp").val();
        mainWindow.kendoWindow({
            width: "1050px",
            height: "750px",
            title: "Xem chi tiết thông tin Quyết định cấu hình lãi suất rút trước hạn tiền gửi CKH",
            content: {
                url: '@Url.Action("ShowUpdateTidePenalRate", "IntRateConfig")',
                data: { pPosCode: dataItem.PosCode, pDocumentId: dataItem.DocumentId, pListId: dataItem.IdList, pProductGroupCode: $("#ProductGroupCodeView").val(), pFlagCall: sFlagCall}
            },
            resizable: false,
            visible: false,
            modal: true,
            close: onClose,
            actions: ["Close"],
            error: function (e) {
                notification.show({
                    message: "Có lỗi xảy ra: " + e.xhr.statusText,
                    type: "error"
                }, "error");
                mainWindow.data("kendoWindow").close();
            }
        });
        mainWindow.data("kendoWindow").center().open();

    }

    function openApprovalWindow(dataItem, buttonType, title) {
        var wnd = mainWindow.data("kendoWindow");
        if (!wnd) {
            mainWindow.kendoWindow({
                width: "1050px",
                height: "550px",
                resizable: false,
                visible: false,
                modal: true,
                close: onClose,
                actions: ["Refresh", "Close"]
            });

            wnd = mainWindow.data("kendoWindow");
        }
        wnd.title(title);
        wnd.refresh({
            url: '@Url.Action("ShowApprovalUserIDC", "UserManagementIDC")',
            data: {
                pPosCode: dataItem.MaDonVi,
                pUserId: "",
                pFlagCall: "2",
                pButtonType: buttonType
            }
        });
        wnd.center().open();
    }

    function submitForApproval(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        openApprovalWindow(
            dataItem,
            "8",
            "Trình duyệt thay đổi thông tin người dùng IDC"
        );
    }

    function submitForAuthorize(e) {
        e.preventDefault();
        var userPosCode = $("#UserPosCodeView").val();
        if (userPosCode !== "000196" && userPosCode !== "000100") {
            alert("Bạn không có quyền phê duyệt!");
            return;
        }
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        openApprovalWindow(
            dataItem,
            "9",
            "Phê duyệt thay đổi thông tin người dùng IDC"
        );
    }
</script>


@Html.Hidden("UserPosCodeView", TempData["UserPosCode"])
@Html.Hidden("UserNameView", TempData["UserName"])
@Html.Hidden("ProductGroupCodeView", TempData["ProductGroupCode"])
<hr style='margin-top: 0.2em; margin-bottom: 0.3em; padding-top: 0px; background-color: #333; border-width: 0; color: #000000; height: 1px; line-height: 0; text-align: left; width: 100%; background-image: linear-gradient(to right, #ccc, #333, #ccc); ' />

<div style="flex-grow: 1; display: flex; flex-direction: column; ">
    <div class="row" style="color: navy; padding-top: 0px;padding-bottom: 0px;">

        <div class="col-md-12">
            <label class="lbcontrol" style="color: navy;text-align:left;width:60px;padding-top:3px;padding-right:0px;padding-left:5px;font-family:Tahoma;font-size:12px;">Đơn vị</label>
            @(Html.Kendo().ComboBox().Name("MainPosCode_Find")
                        .Filter(FilterType.Contains)
                        .Placeholder("--- Đơn vị ---")
                        .DataTextField("value")
                        .DataValueField("id")
                        .Events(e => e.Change("Change_PosCode"))
                        .ClearButton(false)
                        .DataSource(source => { source.Read(read => { read.Action("GetListBranchs", "ListOfValue").Data("paramLoadListBranchFind"); }).ServerFiltering(false); })
                        .HtmlAttributes(new { style = "width: 250px;padding-top: 0px;padding-bottom: 0px;padding-top: 0px;padding-left: 3px;padding-right: 2px; !important;max-width: 100% !important;color: green;!important; class='form - control';" })
                        .Suggest(true)
                        .AutoBind(true)
                        .SelectedIndex(0))

            <label class="lbcontrol" style="color: navy;text-align:right;width:100px;padding-top:3px;padding-right:6px;font-family:Tahoma;font-size:12px;">Ngày hiệu lực</label>
            @(Html.Kendo().DatePicker()
                        .Name("EffectDate_Find")
                        .Format("dd/MM/yyyy")
                        .HtmlAttributes(new { style = "background-color: While !important; width: 105px !important; color: green; !important;", title = "Từ ngày cần tìm kiếm" })
                        .Value(DateTime.Today.AddDays(-1))
                        )
            <span style="color: #ca8f5c;" for="DonVi_Cd_TimKiem">&nbsp;-&nbsp;</span>
            @(Html.Kendo().DatePicker()
                        .Name("ExpiryDate_Find")
                        .Format("dd/MM/yyyy")
                        .HtmlAttributes(new { style = "background-color: While !important; width: 105px !important; color: green; !important;", title = "Đến ngày cần tìm kiếm" })
                        .Value(DateTime.Today.AddDays(+1))
                        )

            &nbsp;&nbsp;
            @(Html.Kendo().Button()
                        .Name("btnSearchTidePenalRate")
                        .Events(ev => ev.Click("onSearchTidePenalRate"))
                        .HtmlAttributes(new { type = "button", style = "font-weight:bold; width:100px; color: blue;padding-left: 0px; height: 25px;", title = "Tìm kiếm danh sách quyết định cấu hình lãi suất rút trước hạn TG CKH" })
                        .ImageUrl(Url.Content("~/images/tim_kiem.png"))
                        .Content(" Tìm kiếm "))
        </div>
    </div>


    <div style="color: navy; padding-top: 0px; display:flex;" class="row">
        <div class="col-md-12">
            @(Html.Kendo().Grid<VBSPOSS.ViewModels.UserIDCApprovalViewModel>()
                        .Name("gridMainIDC")
                        .Events(e => e.DataBound("onRowBoundIDC"))
                        .Columns(columns =>
                        {
                            columns.Command(command =>
                            {
                                command.Custom("Approval").Text("<span style='color: blue;'></span>").Click("submitForApproval").HtmlAttributes(new
                                {
                                    style = "width: 20px !important; display: inline-block; vertical-align: middle;",
                                    title = "Trình duyệt người dùng IDC",
                                    @class = "btn-approval-main"
                                });
                                command.Custom("Authorize").Text("<span style='color: blue;'></span>").Click("submitForAuthorize").HtmlAttributes(new
                                {
                                    style = "width: 20px !important; display: inline-block; vertical-align: middle;",
                                    title = "Phê duyệt người dùng IDC",
                                    @class = "btn-auth-main"
                                });
                            }).Width(100).Title("Chức năng").HtmlAttributes(new { style = "text-align: center;" });

                            columns.Bound(c => c.STT).Title("STT").Width(50).HtmlAttributes(new { style = "text-align: center;" });
                            columns.Bound(c => c.TenChiNhanh).Title("Đơn vị").Width(200).HtmlAttributes(new { style = "text-align: center;" });
                            columns.Bound(c => c.KhoangThoiGian).Title("Khoảng thời gian").Width(200).HtmlAttributes(new { style = "text-align: center;" });
                            columns.Bound(c => c.SoLgTrinh_ThemMoi).Title("Thêm mới").Width(90).HtmlAttributes(new { style = "text-align: left;" });
                            columns.Bound(c => c.SoLgTrinh_Matkhau).Title("Đổi mật khẩu").Width(90).HtmlAttributes(new { style = "text-align: left;" });
                            columns.Bound(c => c.SoLgTrinh_MoKhoa).Title("Mở khóa người dùng").Width(150).HtmlAttributes(new { style = "text-align: center;" });
                            columns.Bound(c => c.SoLgTrinh_Khoa).Title("Khóa người dùng").Width(120).HtmlAttributes(new { style = "text-align: left;" });
                            columns.Bound(c => c.SoLgTrinh_Edit).Title("Chỉnh sửa").Width(90).HtmlAttributes(new { style = "text-align: left;" });
                            columns.Bound(c => c.SoLgTrinh_ChangePos).Title("Đổi POS").Width(90).HtmlAttributes(new { style = "text-align: left;" });
                            columns.Bound(c => c.SoLgTrinh_ChangeRole).Title("Đổi quyền").Width(90).HtmlAttributes(new { style = "text-align: left;" });
                            columns.Bound(c => c.SoLgTrinh_Delete).Title("Hủy User").Width(90).HtmlAttributes(new { style = "text-align: left;" });
                            columns.Bound(c => c.KieuIn).Hidden();
                            columns.Bound(c => c.TT_Dong).Hidden();
                            columns.Bound(c => c.MaDonVi).Hidden();
                        })
                        .HtmlAttributes(new { style = "height: 550px;color: navy; border: 1px solid #ddd;" })
                        .ToolBar(toolbar =>
                        {
                            toolbar.Excel().HtmlAttributes(new { id = "btnExportExcel", style = "height: 25px;width: 110px; font-weight:bold; color: blue;font-family:Tahoma; font-size: 12px;font-weight:bold;!important;", title = "Xuất dữ liệu trên lưới ra file excel" }).Text("Xuất excel");
                        })
                        .Excel(excel => excel.FileName("Danh sach nguoi dung IDC.xlsx").AllPages(true))
                        .Editable(editable => { editable.Mode(GridEditMode.InLine); })
                        .Sortable()
                        .Scrollable()
                        .Pageable(pageable => pageable.Refresh(true).ButtonCount(5))
                        .DataSource(dataSource => dataSource
                        .Ajax()
                        .Batch(false)
                        .ServerOperation(false)
                        .Model(model => model.Id(p => p.STT))
                        .Events(e => e.RequestEnd("onSaveGridIDC").Error("error_handlerIDC"))
                        .Read(read => read.Action("LoadGridData_UserIDCApproval", "UserManagementIDC").Data("paramLoadGridData"))
                        .PageSize(100)
                        )
                        .Resizable(resize => resize.Columns(true))
                        .AutoBind(false)
                        )
        </div>
    </div>


</div>


<script>
     function onSaveGridIDC(e) {
        if (e != null && e.response != null) {
            if (!e.response.Errors) {
                if (e.type == "create") {
                }
                else if (e.type == "update") {
                    alert("Xử lý yêu cầu thành công!");
                }
                else if (e.type == "read") {
                }
            }
            else {
                alert(e.response.Errors);
            }
        }
    }

    function error_handlerIDC(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
            console.error("Kendo Grid Error:", e.errors);  // Debug console để xem lỗi backend (F12)
        }
    }

    $(document).ready(function () {
        $("#lbl_space").remove();
        $("#gridMainIDC .k-grid-excel").after("<label id='lbl_space' style='padding-top:5px;padding-left: 10px;width:70%; font-size: 11px; font-weight: bold; color: blue;text-align:center;line-height: 25px;'>DANH SÁCH THÔNG TIN NGƯỜI DÙNG IDC</label>");

    });
</script>