@using Kendo.Mvc
@using VBSPOSS.Extensions
@using VBSPOSS.Models

@{
    var userPermission = TempData.Get<RolePermissionModel>("UserPermission");
    TempData.Keep("UserPermission");
}
@{
    ViewData["Title"] = "HÀNG CHỜ PHÊ DUYỆT/TỪ CHỐI YÊU CẦU NGHIỆP VỤ TẠO/THAY ĐỔI THÔNG TIN TÀI KHOẢN NGƯỜI DÙNG INTELLECT IDC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="myPopupSumRequirementUserIDC"></div>

<style>
    #gridMainSumRequirementUserIDC div a, table tr, td {
        font-size: 12px;
    }

    .btn-view-edit,
    .btn-delete {
        padding: 0 2px !important;
        min-width: 20px !important;
    }

    #gridMainSumRequirementUserIDC .k-grid td {
        border-right: 1px solid #ddd !important;
    }

    #gridMainSumRequirementUserIDC .k-grid-header th {
        border-right: 1px solid #ddd !important;
    }

    .k-grid-header .k-header > .k-link {
        font-family: Tahoma !important;
        font-weight: bold !important;
        color: navy;
    }

    .k-grid th, .k-grid td {
        font-family: tahoma;
        color: navy;
    }

    red {
        color: red;
    }

    green {
        color: green;
    }

    .style0 {
        font-weight: bold;
        color: blueviolet;
    }

    .style1 {
        font-weight: bold;
        color: blueviolet;
    }

    .style2 {
        font-style: italic;
    }

    .style3 {
    }

    .style4 {
        font-weight: bold;
        font-style: italic;
    }

    .style5 {
        text-decoration: underline;
    }

    .k-dropdown .k-dropdown-wrap {
        height: 21px;
    }

    .k-grid .btn-view.k-button {
        background: url('../images/icon_view.png') no-repeat center center;
        background-size: 15px 15px;
        width: 15px;
        height: 15px;
        border: none;
    }

    .k-grid .btn-view-edit.k-button {
        background: url('../images/icon_edit.png') no-repeat center center;
        background-size: 15px 15px;
        width: 15px;
        height: 15px;
        border: none;
    }

    .k-grid .btn-delete.k-button {
        background: url('../images/icon_delete.png') no-repeat center center;
        background-size: 15px 15px;
        width: 15px;
        height: 15px;
        border: none;
    }

    .k-grid .btn-auth-main.k-button {
        background: url('../images/icon_auth.png') no-repeat center center;
        background-size: 15px 15px;
        width: 15px;
        height: 15px;
        border: none;
    }

    .k-grid .btn-approval-main.k-button {
        background: url('../images/icon_approval.png') no-repeat center center;
        background-size: 15px 15px;
        width: 15px;
        height: 15px;
        border: none;
    }

    .k-column-title {
        min-width: 0;
        text-overflow: ellipsis;
        white-space: normal;
        flex-shrink: 1;
        overflow: hidden;
        text-wrap: auto;
    }

    #StartDateBegin_Find, #StartDateEnd_Find {
        width: 50px !important;
        max-width: 100% !important;
        font-family: Tahoma;
        font-size: 13px;
        padding-left: 2px;
        padding-right: 2px;
    }
    , 
</style>
<script>
    var userPermission = @Html.Raw(Json.Serialize(userPermission ?? new RolePermissionModel()));
    var mainWindow = $("#myPopupSumRequirementUserIDC");
</script>

<script>
    //Chọn đơn vị/chi nhánh
    function paramLoadListBranchFind() {
        var lcUserGradeViewLoad = $("#UserGradeView").val();
        var lcTitleChoiceShow = "--- Chọn tất cả ---";
        if (lcUserGradeViewLoad == "1" || lcUserGradeViewLoad == "2")
            lcTitleChoiceShow = "";
        return {
            pFlagCondi: "7",
            pStatus: "O",
            pShortName: "1",
            pTitleChoice: lcTitleChoiceShow,
            pFlagTextShow: "1",
            pUserPosCode: "",
            pUserName: "",
            pFlagWholeBank: 1
        };
    }
    
    function paramLoadGridDataSumTmp() {
        return {
            pPosCode: $("#MainPosCode_Find").val(),
            pFromStartDate: $("#StartDateBegin_Find").val(),
            pToStartDate: $("#StartDateEnd_Find").val(),
            pFunctionType: $("#FunctionType_Find").val()
        };
    }
    
    function refreshGridSumRequirementUserIDC() {
        var gridSumTmp = $("#gridMainSumRequirementUserIDC").data("kendoGrid");
        if (gridSumTmp != null) {
            gridSumTmp.dataSource.read();
        }
    }

    function onSearchApproveUserIDC(e) {
        refreshGridSumRequirementUserIDC();
    }

    function onRowBoundSumRequirementUserIDC(e) {
        var rows = e.sender.tbody.children();
        var isRed = true;
        for (var j = 0; j < rows.length; j++) {
            var row = $(rows[j]);
            var dataItem = e.sender.dataItem(row);
            var lcUserGradeView = $("#UserGradeView").val();
            if (lcUserGradeView == "1") {
                row.find(".btn-auth-main").hide();
            }

            // var lcUserView = $("#UserPosCodeView").val();
            // if (lcUserView != "000196" && lcUserView != "000100") {
            //     row.find(".btn-auth-main").hide();
            //     row.find(".btn-approval-main").show();
            // }
            // else {
            //     row.find(".btn-approval-main").show();
            //     row.find(".btn-auth-main").show();
            // }
        }
        
        var grid = this;
        grid.tbody.find("tr").each(function () {
            var dataItem = grid.dataItem(this);
            
            if (userPermission && userPermission.AuthorizePermissionFlag == 0) {
                $(this).find(".k-grid-Authorize").hide();
            }

            if (userPermission && userPermission.ReportPermissionFlag == 0) {
                $(this).find(".k-grid-Approval").hide();
            }
        });

    }

    var dataChange = false;

    function onClose() {
        var wndApproval = mainWindowApproval.data("kendoWindow");
        if (wndApproval) {
            wndApproval.content("");
            wndApproval.destroy();
        }
        refreshGridSumRequirementUserIDC();
    }

    function doCompleteWindow() {
        mainWindow.data("kendoWindow").close();
    }

    function openApprovalWindow(dataItem, eventCode, title) {
        var wnd = mainWindow.data("kendoWindow");
        if (!wnd) {
            mainWindow.kendoWindow({
                width: "1024px",
                height: "700px",
                resizable: false,
                visible: false,
                modal: true,
                close: onClose,
                actions: ["Refresh", "Close"]
            });

            wnd = mainWindow.data("kendoWindow");
        }
        wnd.title(title);
        wnd.refresh({
            url: '@Url.Action("ShowApprovalOrAuthorizeUserManagementIDC", "UserManagementIDC")',
            data: {
                pMainPosCode: dataItem.PosCode,
                pFlagCall: eventCode,
                pButtonType: ""
            }
        });
        wnd.center().open();
    }
    
    //Trình duyệt yêu cầu thêm mới/thay đổi thông tin người dùng Intellect iDC
    function submitForApproval(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var lcEventCode = $("#EventFlag_ApprovalView").val();
        openApprovalWindow(dataItem, lcEventCode, "Trình duyệt thay đổi thông tin người dùng IDC");
    }
    
    //Phê duyệt tờ trình yêu cầu thêm mới/thay đổi thông tin người dùng Intellect iDC
    function submitForAuthorize(e) {
        e.preventDefault();
        var lcUserPosCodeView = $("#UserPosCodeView").val();
        var lcEventCode = $("#EventFlag_AuthorizeView").val();
        var lcUserGradeView = $("#UserGradeView").val();
        if (lcUserGradeView == "1") {
            alert("Bạn không có quyền thực hiện chức năng phê duyệt yêu cầu nghiệp vụ về tài khoản người dùng Intellect iDC (Tài khoản của bạn là cấp đơn vị Phòng giao dịch). Vui lòng kiểm tra lại!");
            return;
        }

        // if (lcUserPosCodeView != "000196" && lcUserPosCodeView != "000100") {
        //     alert("Bạn không có quyền thực hiện chức năng phê duyệt yêu cầu nghiệp vụ về tài khoản người dùng Intellect iDC!");
        //     return;
        // }
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        openApprovalWindow(dataItem, lcEventCode, "Phê duyệt thay đổi thông tin người dùng IDC");
    }

    function onSaveGridSumTmpIDC(e) {
        if (e != null && e.response != null) {
            if (!e.response.Errors) {
                if (e.type == "create") {
                }
                else if (e.type == "update") {
                    alert("Xử lý yêu cầu thành công!");
                }
                else if (e.type == "read") {
                }
            }
            else {
                alert(e.response.Errors);
            }
        }
    }

    function error_handlerSumTmpIDC(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
            console.error("Kendo Grid Error:", e.errors);  // Debug console để xem lỗi backend (F12)
        }
    }
</script>

@Html.Hidden("SystemDateTextView", TempData["SystemDateText"])
@Html.Hidden("BusinessDateTextView", TempData["BusinessDateText"])
@Html.Hidden("UserGradeView", TempData["UserGrade"])
@Html.Hidden("UserPosCodeView", TempData["UserPosCode"])
@Html.Hidden("UserNameView", TempData["UserName"])
@Html.Hidden("EventFlag_AddView", TempData["EventFlag_Add"])
@Html.Hidden("EventFlag_EditView", TempData["EventFlag_Edit"])
@Html.Hidden("EventFlag_ApprovalView", TempData["EventFlag_Approval"])
@Html.Hidden("EventFlag_AuthorizeView", TempData["EventFlag_Authorize"])
@Html.Hidden("EventFlag_ViewView", TempData["EventFlag_View"])
@Html.Hidden("EventFlag_MarkDeletedView", TempData["EventFlag_MarkDeleted"])
@Html.Hidden("EventFlag_DeleteView", TempData["EventFlag_Delete"])
@Html.Hidden("EventFlag_EditIDCView", TempData["EventFlag_EditIDC"])

@Html.Hidden("FunctionTypeFlag_ADDNEW_USERView", TempData["FunctionTypeFlag_ADDNEW_USER"])
@Html.Hidden("FunctionTypeFlag_ResetPasswordView", TempData["FunctionTypeFlag_ResetPassword"])
@Html.Hidden("FunctionTypeFlag_ENABLE_USERView", TempData["FunctionTypeFlag_ENABLE_USER"])
@Html.Hidden("FunctionTypeFlag_DISABLE_USERView", TempData["FunctionTypeFlag_DISABLE_USER"])
@Html.Hidden("FunctionTypeFlag_MODIFY_USERView", TempData["FunctionTypeFlag_MODIFY_USER"])
@Html.Hidden("FunctionTypeFlag_CHANGE_POSView", TempData["FunctionTypeFlag_CHANGE_POS"])
@Html.Hidden("FunctionTypeFlag_CHANGE_ROLEView", TempData["FunctionTypeFlag_CHANGE_ROLE"])
@Html.Hidden("FunctionTypeFlag_DELETE_USERView", TempData["FunctionTypeFlag_DELETE_USER"])

<hr style='margin-top: 0.0em; margin-bottom: 0.2em; padding-top: 0px; background-color: #333; border-width: 0; color: #000000; height: 1px; line-height: 0; text-align: left; width: 100%; background-image: linear-gradient(to right, #ccc, #333, #ccc); ' />

<div style="flex-grow: 1; display: flex; flex-direction: column; ">
    <div class="row" style="color:navy; padding-top: 0px;padding-bottom: 0px;">

        <div class="col-md-12">
            <label class="lbcontrol" style="color: navy;text-align:left;width:60px;padding-top:7px;padding-right:0px;padding-left:5px;font-family:Tahoma;font-size:12px;">Đơn vị</label>
            @(Html.Kendo().ComboBox().Name("MainPosCode_Find")
                .Filter(FilterType.Contains)
                .Placeholder("--- Đơn vị ---")
                .DataTextField("value")
                .DataValueField("id")
                .ClearButton(false)
                .DataSource(source => { source.Read(read => { read.Action("GetListBranchs", "ListOfValue").Data("paramLoadListBranchFind"); }).ServerFiltering(false); })
                .HtmlAttributes(new { style = "width: 280px;padding-top: 0px;padding-bottom: 0px;padding-top: 0px;padding-left: 3px;padding-right: 2px; !important;max-width: 100% !important;color: green;!important; class='form - control';" })
                .Suggest(true)
                .AutoBind(true)
                .SelectedIndex(0))

            <label class="lbcontrol" style="color: navy;text-align:right;width:110px;padding-top:7px;padding-right:6px;font-family:Tahoma;font-size:12px;">Ngày bắt đầu</label>
            @(Html.Kendo().DatePicker()
                .Name("StartDateBegin_Find")
                .Format("dd/MM/yyyy")
                .HtmlAttributes(new { style = "background-color: While !important; width: 125px !important; color: green; !important;", title = "Từ ngày cần tìm kiếm" })
                .Value(DateTime.Today.AddDays(-1))
                )
            <span style="color: #ca8f5c;" for="DonVi_Cd_TimKiem">&nbsp;-&nbsp;</span>
            @(Html.Kendo().DatePicker()
                .Name("StartDateEnd_Find")
                .Format("dd/MM/yyyy")
                .HtmlAttributes(new { style = "background-color: While !important; width: 125px !important; color: green; !important;", title = "Đến ngày cần tìm kiếm" })
                .Value(DateTime.Today.AddDays(+1))
                )
            <label class="lbcontrol" style="color: navy;text-align:center;width:85px;padding-top: 7px;">Nghiệp vụ</label>
            @(Html.Kendo().ComboBox().Name("FunctionType_Find")
                .Filter(FilterType.Contains)
                .DataTextField("Description")
                .DataValueField("Code")
                .BindTo((List<ValueConstModel>)ViewBag.FunctionTypes)
                .Placeholder("Chọn nghiệp vụ yêu cầu")
                .HtmlAttributes(new { style = "width: 300px;padding-top: 0px;padding-bottom: 0px;padding-top: 0px;padding-left: 3px;padding-right: 2px;max-width: 100% !important;color: green;" })
                .Filter("contains")
                .SelectedIndex(0))
            &nbsp;&nbsp;
            @(Html.Kendo().Button()
                .Name("btnSearchApproveUserIDC")
                .Events(ev => ev.Click("onSearchApproveUserIDC"))
                .HtmlAttributes(new { type = "button", style = "font-weight:bold; width:100px; color: blue;padding-left: 0px; height: 25px;", title = "Tìm kiếm danh sách quyết định cấu hình lãi suất rút trước hạn TG CKH" })
                .ImageUrl(Url.Content("~/images/tim_kiem.png"))
                .Content(" Tìm kiếm "))
        </div>
    </div>


    <div style="color: navy; padding-top: 0px; display:flex;" class="row">
        <div class="col-md-12">
            @(Html.Kendo().Grid<VBSPOSS.ViewModels.UserManagementIDCSumRequirementViewModel>()
                .Name("gridMainSumRequirementUserIDC")
                .Events(e => e.DataBound("onRowBoundSumRequirementUserIDC"))
                .Columns(columns =>
                {
                    columns.Command(command =>
                    {
                        command.Custom("Approval").Text("<span style='color: blue;'></span>").Click("submitForApproval").HtmlAttributes(new
                        {
                            style = "width: 20px !important; display: inline-block; vertical-align: middle;",
                            title = "Trình duyệt yêu cầu thêm mới/thay đổi thông tin người dùng Intellect iDC",
                            @class = "btn-approval-main"
                        });
                        command.Custom("Authorize").Text("<span style='color: blue;'></span>").Click("submitForAuthorize").HtmlAttributes(new
                        {
                            style = "width: 20px !important; display: inline-block; vertical-align: middle;",
                            title = "Phê duyệt tờ trình yêu cầu thêm mới/thay đổi thông tin người dùng Intellect iDC",
                            @class = "btn-auth-main"
                        });
                       
                    }).Width(130).Title("Chức năng").HtmlAttributes(new { style = "text-align: center;" });

                    columns.Bound(c => c.OrderNoText).Title("STT").Width(60).HtmlAttributes(new { style = "text-align: center;" });
                    columns.Bound(c => c.PosName).Title("Đơn vị").HtmlAttributes(new { style = "text-align: left;" });
                    columns.Bound(c => c.StartDatePeriodText).Title("Khoảng thời gian").Width(170).HtmlAttributes(new { style = "text-align: center;" });
                    columns.Group(groupSLCNTT => groupSLCNTT.Title("Số lượng yêu cầu hàng chờ")
                    .Columns(infoDGXL =>
                    {
                        infoDGXL.Bound(x => x.NumberOfAddNewUser).Title("Thêm mới").Width(90).HtmlAttributes(new { style = "text-align: right;" });
                        infoDGXL.Bound(x => x.NumberOfResetPassword).Title("Đổi mật khẩu").Width(90).HtmlAttributes(new { style = "text-align: right;" });
                        infoDGXL.Bound(x => x.NumberOfEnableUser).Title("Mở khóa người dùng").Width(90).HtmlAttributes(new { style = "text-align: right;" });
                        infoDGXL.Bound(x => x.NumberOfDisableUser).Title("Khóa người dùng").Width(90).HtmlAttributes(new { style = "text-align: right;" });
                        infoDGXL.Bound(x => x.NumberOfModifyUser).Title("Chỉnh sửa").Width(90).HtmlAttributes(new { style = "text-align: right;" });
                        infoDGXL.Bound(x => x.NumberOfChangePos).Title("Đổi POS").Width(90).HtmlAttributes(new { style = "text-align: right;" });
                        infoDGXL.Bound(x => x.NumberOfChangeRole).Title("Đổi quyền").Width(90).HtmlAttributes(new { style = "text-align: right;" });
                        infoDGXL.Bound(x => x.NumberOfCloseUser).Title("Hủy User").Width(90).HtmlAttributes(new { style = "text-align: right;" });
                    }));
                    columns.Bound(c => c.StylePrint).Hidden();
                    columns.Bound(c => c.OrderNo).Hidden();
                    columns.Bound(c => c.MainPosCode).Hidden();
                    columns.Bound(c => c.MainPosName).Hidden();
                    columns.Bound(c => c.PosCode).Hidden();
                })
                .HtmlAttributes(new { style = "height: 680px;color: navy; border: 1px solid #ddd;" })
                .ToolBar(toolbar =>
                {
                    toolbar.Excel().HtmlAttributes(new { id = "btnExportExcel", style = "height: 25px;width: 110px; font-weight:bold; color: blue;font-family:Tahoma; font-size: 12px;font-weight:bold;!important;", title = "Xuất dữ liệu trên lưới ra file excel" }).Text("Xuất excel");
                })
                .Excel(excel => excel.FileName("Tong hop danh sach hang cho nguoi dung IDC.xlsx").AllPages(true))
                .Editable(editable => { editable.Mode(GridEditMode.InLine); })
                .Sortable()
                .Scrollable()
                .Pageable(pageable => pageable.Refresh(true).ButtonCount(5))
                .DataSource(dataSource => dataSource
                .Ajax()
                .Batch(false)
                .ServerOperation(false)
                .Model(model => model.Id(p => p.OrderNo))
                .Events(e => e.RequestEnd("onSaveGridSumTmpIDC").Error("error_handlerSumTmpIDC"))
                .Read(read => read.Action("LoadGridData_UserManagementIDC_SumRequirements", "UserManagementIDC").Data("paramLoadGridDataSumTmp"))
                .PageSize(100)
                )
                .Resizable(resize => resize.Columns(true))
                .AutoBind(true)
            )
        </div>
    </div>


</div>


<script>
     

    $(document).ready(function () {
        $("#lbl_space").remove();
        $("#gridMainSumRequirementUserIDC .k-grid-excel").after("<label id='lbl_space' style='padding-top:5px;padding-left: 10px;width:70%; font-size: 11px; font-weight: bold; color: blue;text-align:center;line-height: 25px;'>HÀNG CHỜ PHÊ DUYỆT - TỔNG HỢP DANH SÁCH YÊU CẦU NGHIỆP VỤ NGƯỜI DÙNG IDC</label>");
    });
</script>